### __BUSA3020 Group Assignment - Predicting Airbnb Listing Prices in Sydney__

--- 

**Due Date:** Friday, 3 June 2022 @ 11.59pm (Week 13)

**Overview:**   

- In the group assignment you will form a team of up to 3 students (minimum 2) and participate in a forecasting competition on Kaggle
- The goal is to predict listed property prices of Airbnb stays based on various Airbnb characteristics and regression models

- You will:  
    - Write a problem statement and perform Exploratory Data Analysis  
    - Clean up data, deal with categorical features and missing observations, and create new variables (feature engineering)  
    - Construct and tune forecasting models, produce forecasts and submit your predictions to Kaggle  
    - Each member of the team will record a video presentation of their work  
    - Marks will be awarded producing a prediction in the top 3 positions of their unit as well as for reaching the highest ranking on Kaggle amongst all teams.

**Instructions:** 

- Form a team of 3 students (minimum 2 students)  
- Each team member needs to join [https://www.kaggle.com](https://www.kaggle.com/)  
- Choose a team leader and form a team in the competition [https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19](https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19)
    - Team leader to click on `team` and join and invite other team members to join
    - There are two MQBS BUSA units competing in this competition
    - Your **team's name must start** with your unit code, for instance you could have a team called BUSA3020_PR3D1CT0RS
- All team members should work on all the tasks listed below however   
    - **Choose a team member who will be responsible for one of each of the 3 tasks listed below**

**Marks**: 

- Total Marks: 40
- Your mark will consist of:  
    - 50% x overall assignment mark + 45% x mark for the task that you are responsible for + 5% x mark received from your teammates for your effort in group work 
- 7 marks will be deducted from each Task for which there is no video presentation

**Competition Marks:**
- 5 marks: Ranking in the top 3 places of your unit on Kaggle (make sure you name your team as instructed above)
- 2 marks: Reaching the first place in your unit  (make sure you name your team as instructed above)


**Submissions:**  

1. On Kaggle: submit your team's forecast in order to be ranked by Kaggle
    - Can do this as many times as necessary while building their model  
2. On iLearn **only team leader to submit** this Jupyter notebook re-named `Group_Assignment_MQ_ID.ipynb` where MQ_ID is team leader's MQ ID number 
    - The Jupyter notebook must contain team members names/ID numbers, and team name in the competition
    - Provide answers to the 3 Tasks below in the allocated cells including all codes/outputs/writeups 
    - One 15 minute video recording of your work 
        - Each team member to provide a 5 minute presentation of the Task that they led (it is best to jointly record your video using Zoom)
        - When recording your video make sure your face is visible, that you share your Jupyter Notebook and explain everything you've done in the submitted Jupyter notebook on screen
        - 7 marks will be deducted from each Task for which there is no video presentation or if you don't follow the above instructions
        
3. On iLearn each student needs to submit a file with their teammates' names, SID and a mark for their group effort (out of 100%)

---

**Fill out the following information**

For each team member provide name, Student ID number and which task is performed below

- Team Name on Kaggle: `BUSA3020_RealAirbnb`
- Team Leader and Team Member 1: `Hai Hoang Nguyen`
- Team Member 2: `Dang Thanh Hung Nguyen`
- Team Member 3: `Lan Anh Duong`

---

## Task 1: Problem Description and Initial Data Analysis

1. Read the Competition Overview on Kaggle [https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19](https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19)
2. Referring to Competition Overview and the data provided on Kaggle write about a 500 words **Problem Description** focusing on key points that will need to be addressed as first steps in Tasks 2 and 3 below, using the following headings:
    - Forecasting Problem
    - Evaluation Criteria
    - Types of Variables/Features
    - Data summary and main data characteristics
    - Missing Values (only explain what you found at this stage)
    
Total Marks: 11

In [1]:
#import libraries
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, LabelBinarizer
from IPython import display
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df_train = pd.read_csv(
    "data/train.csv",
    index_col="ID",
    parse_dates=["host_since", "first_review", "last_review"],)
df_test = pd.read_csv(
    "data/test.csv",
    index_col="ID",
    parse_dates=["host_since", "first_review", "last_review"],)

In [2]:
#combine 2 dataframes
df = pd.concat([df_train, df_test], keys=['train', 'test'])

In [3]:
df.head(2)

                                                       name  \
      ID
train 0                                 Manly Harbour House
      1   Unique Designer Rooftop Apartment in City Loca...

                                                description  \
      ID
train 0   Beautifully renovated, spacious and quiet, our...
      1   Penthouse living at it best ... You will be st...

                                      neighborhood_overview host_name  \
      ID
train 0   Balgowlah Heights is one of the most prestigio...     Heidi
      1   The location is really central and there is nu...     Morag

         host_since                       host_location  \
      ID
train 0  2009-11-20  Sydney, New South Wales, Australia
      1  2009-12-03  Sydney, New South Wales, Australia

                                                 host_about  \
      ID
train 0   I am a Canadian who has made Australia her hom...
      1   I am originally Scottish but I have made Sydne...

          host_response_time host_response_rate host_acceptance_rate  \
      ID
train 0   within a few hours               100%                  69%
      1       within an hour               100%                 100%

         host_is_superhost host_neighbourhood  host_listings_count  \
      ID
train 0                  t          Balgowlah                  2.0
      1                  f       Darlinghurst                  3.0

                                         host_verifications  \
      ID
train 0   ['email', 'phone', 'reviews', 'jumio', 'offlin...
      1   ['email', 'phone', 'facebook', 'reviews', 'jum...

         host_has_profile_pic host_identity_verified  \
      ID
train 0                     t                      t
      1                     t                      t

                                     neighbourhood neighbourhood_cleansed  \
      ID
train 0      Balgowlah, New South Wales, Australia                  Manly
      1   Darlinghurst, New South Wales, Australia                 Sydney

          latitude  longitude                property_type        room_type  \
      ID
train 0  -33.80084  151.26378      Entire residential home  Entire home/apt
      1  -33.87964  151.21680  Private room in rental unit     Private room

          accommodates       bathrooms  bedrooms  beds  \
      ID
train 0              6         3 baths       3.0   3.0
      1              2  1 private bath       1.0   1.0

                                                  amenities  minimum_nights  \
      ID
train 0   ["Hot water", "Coffee maker", "Heating", "Hair...               2
      1   ["Hot water", "Coffee maker", "Long term stays...               2

          maximum_nights  minimum_minimum_nights  maximum_minimum_nights  \
      ID
train 0               22                     2.0                     2.0
      1               90                     2.0                     2.0

          minimum_maximum_nights  maximum_maximum_nights  \
      ID
train 0                     22.0                    22.0
      1                     90.0                    90.0

          minimum_nights_avg_ntm  maximum_nights_avg_ntm has_availability  \
      ID
train 0                      2.0                    22.0                t
      1                      2.0                    90.0                t

          availability_30  availability_60  availability_90  availability_365  \
      ID
train 0                 0               14               14             174.0
      1                 5               31               61             336.0

          number_of_reviews  number_of_reviews_ltm  number_of_reviews_l30d  \
      ID
train 0                   3                      1                       0
      1                 383                     18                       6

         first_review last_review  review_scores_rating  \
      ID
train 0    2016-01-02  2021-06-01                  4.67
      1    2012-02-23  2021-12-03                  4.42

          review_scores_accuracy  review_scores_cleanliness  \
      ID
train 0                     4.33                       4.33
      1                     4.58                       4.40

          review_scores_checkin  review_scores_communication  \
      ID
train 0                    4.67                         4.33
      1                    4.77                         4.67

          review_scores_location  review_scores_value           license  \
      ID
train 0                     4.67                 4.33            Exempt
      1                     4.70                 4.47  PID-STRA-24061-7

         instant_bookable  calculated_host_listings_count  \
      ID
train 0                 f                               2
      1                 t                               1

          calculated_host_listings_count_entire_homes  \
      ID
train 0                                             2
      1                                             0

          calculated_host_listings_count_private_rooms  \
      ID
train 0                                              0
      1                                              1

          calculated_host_listings_count_shared_rooms  reviews_per_month  \
      ID
train 0                                             0               0.04
      1                                             0               3.21

            price
      ID
train 0   $470.00
      1    $82.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10000 entries, ('train', 0) to ('test', 9999)
Data columns (total 60 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   name                                          9998 non-null   object
 1   description                                   9846 non-null   object
 2   neighborhood_overview                         6943 non-null   object
 3   host_name                                     10000 non-null  object
 4   host_since                                    10000 non-null  datetime64[ns]
 5   host_location                                 9996 non-null   object
 6   host_about                                    6110 non-null   object
 7   host_response_time                            6821 non-null   object
 8   host_response_rate                            6821 non-null   object
 9   host_acceptance_rate                          6970 non-null   object
 10  host_is_superhost                             10000 non-null  object
 11  host_neighbourhood                            5825 non-null   object
 12  host_listings_count                           10000 non-null  float64
 13  host_verifications                            10000 non-null  object
 14  host_has_profile_pic                          10000 non-null  object
 15  host_identity_verified                        10000 non-null  object
 16  neighbourhood                                 6944 non-null   object
 17  neighbourhood_cleansed                        9850 non-null   object
 18  latitude                                      10000 non-null  float64
 19  longitude                                     10000 non-null  float64
 20  property_type                                 9877 non-null   object
 21  room_type                                     9825 non-null   object
 22  accommodates                                  10000 non-null  int64
 23  bathrooms                                     9990 non-null   object
 24  bedrooms                                      9162 non-null   float64
 25  beds                                          9631 non-null   float64
 26  amenities                                     10000 non-null  object
 27  minimum_nights                                10000 non-null  int64
 28  maximum_nights                                10000 non-null  int64
 29  minimum_minimum_nights                        9945 non-null   float64
 30  maximum_minimum_nights                        10000 non-null  float64
 31  minimum_maximum_nights                        10000 non-null  float64
 32  maximum_maximum_nights                        9945 non-null   float64
 33  minimum_nights_avg_ntm                        10000 non-null  float64
 34  maximum_nights_avg_ntm                        10000 non-null  float64
 35  has_availability                              10000 non-null  object
 36  availability_30                               10000 non-null  int64
 37  availability_60                               10000 non-null  int64
 38  availability_90                               10000 non-null  int64
 39  availability_365                              9933 non-null   float64
 40  number_of_reviews                             10000 non-null  int64
 41  number_of_reviews_ltm                         10000 non-null  int64
 42  number_of_reviews_l30d                        10000 non-null  int64
 43  first_review                                  9420 non-null   datetime64[ns]
 44  last_review                                   9420 non-null   datetime64[ns]
 45  review_scores_rating                          9420 non-null   float64
 46  review_scores_accuracy                        9149 non-null   float64
 47  review_scores_cleanliness                     9155 non-null   float64
 48  review_scores_checkin                         9148 non-null   float64
 49  review_scores_communication                   9156 non-null   float64
 50  review_scores_location                        9148 non-null   float64
 51  review_scores_value                           9146 non-null   float64
 52  license                                       5739 non-null   object
 53  instant_bookable                              10000 non-null  object
 54  calculated_host_listings_count                10000 non-null  int64
 55  calculated_host_listings_count_entire_homes   10000 non-null  int64
 56  calculated_host_listings_count_private_rooms  10000 non-null  int64
 57  calculated_host_listings_count_shared_rooms   10000 non-null  int64
 58  reviews_per_month                             9420 non-null   float64
 59  price                                         7000 non-null   object
dtypes: datetime64[ns](3), float64(20), int64(13), object(24)
memory usage: 4.9+ MB

We have 7000 and 3000 records for the training and test datasets respestively which are allocated for 59 information fields and 1 target feature as ``price`. One thing to note is that there exists few features that string-based but should ideally be integer or floating point values.

**Forcasting Problem**

When it comes to determining the rental price of each Airbnb, both the host and the customer bear significant and difficult responsibilities. For the host, it is possible for them to set a reasonable price without sacrificing the amount of profit they can earn. Besides, it is essential for the customers to understand the significant factors influencing the price, and look for places that provide comparable prices. The objective of this project is to forecast Airbnb listing prices in Sydney based on the listed properties characteristics. In order to predict rental price, several machine learning models including linear regression, random forest and other models will be adopted with the availability of Scikit-learn module library in Python.

**Evaluation Criteria**

In fact, this problem relates to the supervised regression problem, thus, in this case, mean squared error (MSE), R-squared (R^2) and cross-validation score are employed as the selection criteria in order to compare the performance of all the models. Specifically, the model with the smallest mean squared error will be applied on the test dataset to predict the corresponding prices.

**Types of Variables/Features**

The data set contains both numeric and object variables. The numeric variables (including both integer and floating point values) refer to the number of rooms, the price and other measurable features of the rental house. On the contrary, object features are typically represented for the description, customer feedback and further information of both host and customers.

In [5]:
# check types of variables/features
col_dtype_dict = {
    dtype: df.select_dtypes(dtype).columns
    for dtype in ["int", "float", "object"]
}

In [6]:
col_dtype_dict

{'int': Index(['accommodates', 'minimum_nights', 'maximum_nights', 'availability_30',
        'availability_60', 'availability_90', 'number_of_reviews',
        'number_of_reviews_ltm', 'number_of_reviews_l30d',
        'calculated_host_listings_count',
        'calculated_host_listings_count_entire_homes',
        'calculated_host_listings_count_private_rooms',
        'calculated_host_listings_count_shared_rooms'],
       dtype='object'),
 'float': Index(['host_listings_count', 'latitude', 'longitude', 'bedrooms', 'beds',
        'minimum_minimum_nights', 'maximum_minimum_nights',
        'minimum_maximum_nights', 'maximum_maximum_nights',
        'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'availability_365',
        'review_scores_rating', 'review_scores_accuracy',
        'review_scores_cleanliness', 'review_scores_checkin',
        'review_scores_communication', 'review_scores_location',
        'review_scores_value', 'reviews_per_month'],
       dtype='object'),
 'object': Index(['name', 'description', 'neighborhood_overview', 'host_name',
        'host_location', 'host_about', 'host_response_time',
        'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
        'host_neighbourhood', 'host_verifications', 'host_has_profile_pic',
        'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
        'property_type', 'room_type', 'bathrooms', 'amenities',
        'has_availability', 'license', 'instant_bookable', 'price'],
       dtype='object')}

**Data summary and main characteristics**

Apart from string-based features describing information about the Airbnb property, the host, and its amenities, the following output shows a brief statistical description of several numeric variables. There are current 33 numerical fields over a total of 60 features.

In [7]:
df_train.describe()

,host_listings_count,latitude,longitude,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,7000.000000,7000.000000,7000.000000,7000.000000,6340.000000,6760.000000,7000.000000,7000.000000,6955.000000,7000.000000,7000.000000,6.955000e+03,7000.000000,7.000000e+03,7000.000000,7000.000000,7000.000000,6953.000000,7000.000000,7000.000000,7000.000000,6886.000000,6790.000000,6792.000000,6791.000000,6792.000000,6790.000000,6789.000000,7000.000000,7000.000000,7000.000000,7000.000000,6886.000000
mean,13.315571,-33.848580,151.191887,3.757714,1.811830,2.243343,29.734571,773.551000,28.485981,30.343857,866.717143,3.088569e+06,29.434657,2.830644e+06,9.276286,24.313286,41.979429,167.068172,35.402429,6.957286,0.750714,4.631587,4.754588,4.658408,4.841571,4.841826,4.842272,4.643322,10.757143,8.696714,1.939714,0.044571,0.965577
std,32.683985,0.094001,0.106205,2.331416,1.073018,1.654179,42.407400,473.598247,41.940831,41.738467,434.408411,8.137667e+07,41.886924,7.498722e+07,10.233421,21.071782,31.883595,133.719203,58.590892,12.569829,1.578901,0.709730,0.447357,0.512783,0.380514,0.384644,0.317936,0.465086,24.279535,21.696069,11.120574,0.555544,1.240824
min,0.000000,-34.090180,150.630490,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.000000,-33.894395,151.159120,2.000000,1.000000,1.000000,2.000000,200.000000,2.000000,2.000000,365.000000,9.990000e+02,2.000000,6.000000e+02,0.000000,2.000000,7.000000,40.000000,3.000000,0.000000,0.000000,4.590000,4.710000,4.560000,4.840000,4.840000,4.810000,4.540000,1.000000,1.000000,0.000000,0.000000,0.150000
50%,2.000000,-33.875625,151.212020,3.000000,1.000000,2.000000,3.000000,1125.000000,3.000000,5.000000,1125.000000,1.125000e+03,3.800000,1.125000e+03,5.000000,21.000000,43.000000,144.000000,12.000000,2.000000,0.000000,4.830000,4.890000,4.820000,4.960000,4.970000,4.940000,4.750000,2.000000,1.000000,0.000000,0.000000,0.520000
75%,6.000000,-33.801885,151.261272,5.000000,2.000000,3.000000,90.000000,1125.000000,90.000000,90.000000,1125.000000,1.125000e+03,90.000000,1.125000e+03,17.000000,43.000000,71.000000,310.000000,41.000000,9.000000,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.920000,6.000000,4.000000,1.000000,0.000000,1.360000
max,354.000000,-33.392670,151.340410,16.000000,11.000000,22.000000,400.000000,1162.000000,400.000000,400.000000,1162.000000,2.147484e+09,400.000000,2.142625e+09,30.000000,60.000000,90.000000,365.000000,756.000000,280.000000,30.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,197.000000,197.000000,100.000000,17.000000,24.270000

The numerical fields cover more data regarding the Airbnb that specifies the geographical terms, available number of nights for renting, types of room and review scores. They are important features which can motivate customers to make a decision to rent the property.

**Missing values**

In [8]:
# check the missing values in the dataset
missing_df = df.groupby(level=0).apply(lambda x: x.isnull().sum()).T
missing_df = missing_df.loc[missing_df.sum(axis=1) > 0]

In [9]:
missing_df["all"] = missing_df.sum(axis=1)

In [10]:
missing_df.sort_values(by="all", ascending=False)

                             test  train   all
license                      2393   1868  4261
host_neighbourhood           1263   2912  4175
host_about                   1432   2458  3890
host_response_time           2534    645  3179
host_response_rate           2534    645  3179
neighborhood_overview        1240   1817  3057
neighbourhood                1240   1816  3056
host_acceptance_rate         2285    745  3030
price                        3000      0  3000
review_scores_value           643    211   854
review_scores_location        642    210   852
review_scores_checkin         643    209   852
review_scores_accuracy        641    210   851
review_scores_cleanliness     637    208   845
review_scores_communication   636    208   844
bedrooms                      178    660   838
reviews_per_month             466    114   580
last_review                   466    114   580
review_scores_rating          466    114   580
first_review                  466    114   580
beds                          129    240   369
room_type                      41    134   175
description                    89     65   154
neighbourhood_cleansed         42    108   150
property_type                  39     84   123
availability_365               20     47    67
maximum_maximum_nights         10     45    55
minimum_minimum_nights         10     45    55
bathrooms                       4      6    10
host_location                   2      2     4
name                            1      1     2

This section focuses on analysing the quality of the data set via the analysis of missing values. The following tables shows the frequency of missing values in the top ten  variables having the largest number of missing values.

As can be seen from the table above, the top five variables in terms of missing values are object features that are not good categorical variables (with the large number of unique values in the variable). As a result, it is of utmost importance to have an appropriate strategy of imputing null values with advanced technqiues, for example, one-hot encoding for categorical variables. Furthermore, missing values in host_acceptance_rate and price account for a large proportion, notably in training set. To be more specific, 3000 missing values in price are equivalent to more than 40% of the total data set. As a result, the decision of imputing missing values or removing all these values should be carefully considered.

---

## Task 2: Data Cleaning, Missing Observations and Feature Engineering
- In this task you will follow a set of instructions/questions listed below.
- Make sure you **explain** each step you do both in Markdown text and on your video.
    - Do not just read out your commands without exaplaining what they do and why you used them 

Total Marks: 11

**Task 2, Question 1**: Clean **all** numerical features and the target variable `price` so that they can be used in training algorithms. For instance, `host_response_rate` feature is in object format containing both numerical values and text. Extract numerical values (or equivalently eliminate the text) so that the numerical values can be used as a regular feature.  
(2 marks)

Even though the descriptive statistics summary provided by the initial data analysis includes 34 features, we can identify other 3 numerical variables are in the format of string and should be corrected for further analyis. `host_response_rate` and `host_acceptance_rate` are the two features which contain both numerical values and text on each entry, specfically number with percentage symbol (%). Since the intial data types of these two columns are string, we need to convert them to float after extracting the unwanted character.

In [11]:
#examine the current data type
print(type(df_train['host_response_rate']))
print(type(df_train['host_acceptance_rate']))
print(type(df_test['host_response_rate']))
print(type(df_test['host_acceptance_rate']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [12]:
#remove unwanted character 
df_train['host_response_rate'] = df_train['host_response_rate'].str.replace('%', '')
df_train['host_acceptance_rate'] = df_train['host_acceptance_rate'].str.replace('%', '')
df_test['host_response_rate'] = df_test['host_response_rate'].str.replace('%', '')
df_test['host_acceptance_rate'] = df_test['host_acceptance_rate'].str.replace('%', '')

In [13]:
#change to float type 
df_train['host_response_rate'] = df_train['host_response_rate'].astype(float)
df_train['host_acceptance_rate'] = df_train['host_acceptance_rate'].astype(float)
df_test['host_response_rate'] = df_test['host_response_rate'].astype(float)
df_test['host_acceptance_rate'] = df_test['host_acceptance_rate'].astype(float)

Besides, `price` as the target variable of the training dataset is also not denoted as a floating point attribute due to the same initial data type. By repeating the procedure, we can convert price to the accurate data type.

In [14]:
#examine the current data type
print(type(df_train['price']))

<class 'pandas.core.series.Series'>

In the form of string, we can figure out the shortest and longest values to determine any unexpected characters.

In [15]:
print(min(df_train['price'], key=len))
print(max(df_train['price'], key=len))

$82.00
$2,746.00

In [16]:
#remove unwanted character 
df_train['price'] = df_train['price'].str.replace('$', '')
df_train['price'] = df_train['price'].str.replace(',', '')

In [17]:
#change to float type 
df_train['price'] = df_train['price'].astype(float)

**Task 2, Question 2** Create at least 4 new features from existing features which contain multiple items of information, e.g. creating `email`,  `phone`, `reviews`, `jumio`, etc. from feature `host_verifications`.  
(2 marks)

In [18]:
df_train['host_verifications'].head(2)

ID
0    ['email', 'phone', 'reviews', 'jumio', 'offlin...
1    ['email', 'phone', 'facebook', 'reviews', 'jum...
Name: host_verifications, dtype: object

From feature `host_verifications`, the total numbers of 4 new features can be identified:

In [19]:
#value counts of major verification
for i in ['email', 'phone', 'reviews', 'jumio']:
    count = 0
    for row in df_train.itertuples(index = True, name ='Pandas'):
        if i in getattr(row, 'host_verifications'):
            count+=1
    print('Value counts of',i,'verifications :',count)

Value counts of email verifications : 6495
Value counts of phone verifications : 6995
Value counts of reviews verifications : 4429
Value counts of jumio verifications : 4795

By properly designing 4 functions, 4 new features are created to indicate whether an Airbnb has `email` or `phone` or `reviews` or `jumio`.

In [20]:
#for email verifications 
def email_veri(row):
    for i in range(len(row)):
        if 'email' in row['host_verifications']:
            return 1 
        else: 
            return 0
#for phone verifications 
def phone_veri(row):
    for i in range(len(row)):
        if 'phone' in row['host_verifications']:
            return 1 
        else: 
            return 0
#for reviews verifications 
def reviews_veri(row):
    for i in range(len(row)):
        if 'reviews' in row['host_verifications']:
            return 1 
        else: 
            return 0 
#for jumio verifications 
def jumio_veri(row):
    for i in range(len(row)):
        if 'jumio' in row['host_verifications']:
            return 1 
        else: 
            return 0

In [21]:
#apply to the training set
df_train['email'] = df_train.apply(email_veri, axis=1)
df_train['phone'] = df_train.apply(phone_veri, axis=1)
df_train['reviews'] = df_train.apply(reviews_veri, axis=1)
df_train['jumio'] = df_train.apply(jumio_veri, axis=1)

In [22]:
#apply to the test set
df_test['email'] = df_test.apply(email_veri, axis=1)
df_test['phone'] = df_test.apply(phone_veri, axis=1)
df_test['reviews'] = df_test.apply(reviews_veri, axis=1)
df_test['jumio'] = df_test.apply(jumio_veri, axis=1)

In [23]:
#drop the original column
df_train.drop(columns='host_verifications', inplace=True)
df_test.drop(columns='host_verifications', inplace=True)

We also identify that the `amenities` feature has multiple items of information which need to be separated.

In [24]:
df_train['amenities'].head(2)

ID
0    ["Hot water", "Coffee maker", "Heating", "Hair...
1    ["Hot water", "Coffee maker", "Long term stays...
Name: amenities, dtype: object

By finding the longest entry of `amenities` and the top 4 amenities of all Airbnb entries, we can determine the 4 new features to generate.

In [25]:
longest_list = max(df_train['amenities'], key=len)
longest_list

'["Clothing storage: wardrobe, walk-in closet, and dresser", "Hot water", "Coffee maker", "Free dryer \\u2013 In building", "Toaster", "Heating", "Long term stays allowed", "Extra pillows and blankets", "Dining table", "Private fenced garden or backyard", "Bikes", "Hair dryer", "Conditioner", "Drying rack for clothing", "Babysitter recommendations", "Laundromat nearby", "Fire pit", "Bathtub", "Oven", "Private entrance", "Lockbox", "Beach essentials", "Dedicated workspace: monitor, desk, table, and office chair", "Bread maker", "Ceiling fan", "Microwave", "Iron", "Free washer \\u2013 In building", "68\\" HDTV with Amazon Prime Video, Apple TV, Netflix, standard cable", "Refrigerator", "Outdoor shower", "Board games", "Fire extinguisher", "Hot water kettle", "Piano", "Samsung Bar Bluetooth sound system", "Children\\u2019s dinnerware", "Stove", "Portable fans", "Ethernet connection", "Bed linens", "Game console", "Cable TV", "Hangers", "Pack \\u2019n play/Travel crib", "BBQ grill", "Body soap", "First aid kit", "Smoke alarm", "Room-darkening shades", "Luggage dropoff allowed", "Private patio or balcony", "Essentials", "Cooking basics", "Barbecue utensils", "Baking sheet", "Outdoor furniture", "Outdoor dining area", "Private outdoor saltwater pool", "Wifi", "Free street parking", "Dishwasher", "Freezer", "Nespresso machine", "Dishes and silverware", "Wine glasses", "Cleaning products", "Free parking on premises", "Shampoo", "Shower gel", "Children\\u2019s books and toys", "Kitchen", "Baby safety gates", "High chair", "Rice maker", "Trash compactor", "Mosquito net"]'

In [26]:
df_train.index[df_train['amenities']==longest_list].tolist()

[967]

In [27]:
for i in ["Clothing storage: wardrobe, walk-in closet, and dresser", "Hot water", "Coffee maker", "Free dryer \\u2013 In building", "Toaster", "Heating", "Long term stays allowed", "Extra pillows and blankets", "Dining table", "Private fenced garden or backyard", "Bikes", "Hair dryer", "Conditioner", "Drying rack for clothing", "Babysitter recommendations", "Laundromat nearby", "Fire pit", "Bathtub", "Oven", "Private entrance", "Lockbox", "Beach essentials", "Dedicated workspace: monitor, desk, table, and office chair", "Bread maker", "Ceiling fan", "Microwave", "Iron", "Free washer \\u2013 In building", "68\\ HDTV with Amazon Prime Video, Apple TV, Netflix, standard cable", "Refrigerator", "Outdoor shower", "Board games", "Fire extinguisher", "Hot water kettle", "Piano", "Samsung Bar Bluetooth sound system", "Children\\u2019s dinnerware", "Stove", "Portable fans", "Ethernet connection", "Bed linens", "Game console", "Cable TV", "Hangers", "Pack \\u2019n play/Travel crib", "BBQ grill", "Body soap", "First aid kit", "Smoke alarm", "Room-darkening shades", "Luggage dropoff allowed", "Private patio or balcony", "Essentials", "Cooking basics", "Barbecue utensils", "Baking sheet", "Outdoor furniture", "Outdoor dining area", "Private outdoor saltwater pool", "Wifi", "Free street parking", "Dishwasher", "Freezer", "Nespresso machine", "Dishes and silverware", "Wine glasses", "Cleaning products", "Free parking on premises", "Shampoo", "Shower gel", "Children\\u2019s books and toys", "Kitchen", "Baby safety gates", "High chair", "Rice maker", "Trash compactor", "Mosquito net"]:
    count = 0
    for row in df_train.itertuples(index = True, name ='Pandas'):
        if i in getattr(row, 'amenities'):
            count+=1
    print('Value counts of',i,'amenity :',count)

Value counts of Clothing storage: wardrobe, walk-in closet, and dresser amenity : 3
Value counts of Hot water amenity : 5506
Value counts of Coffee maker amenity : 2713
Value counts of Free dryer \u2013 In building amenity : 44
Value counts of Toaster amenity : 1229
Value counts of Heating amenity : 5067
Value counts of Long term stays allowed amenity : 6387
Value counts of Extra pillows and blankets amenity : 2957
Value counts of Dining table amenity : 1148
Value counts of Private fenced garden or backyard amenity : 357
Value counts of Bikes amenity : 41
Value counts of Hair dryer amenity : 5697
Value counts of Conditioner amenity : 997
Value counts of Drying rack for clothing amenity : 855
Value counts of Babysitter recommendations amenity : 271
Value counts of Laundromat nearby amenity : 608
Value counts of Fire pit amenity : 140
Value counts of Bathtub amenity : 1285
Value counts of Oven amenity : 3640
Value counts of Private entrance amenity : 2912
Value counts of Lockbox amenity : 2187
Value counts of Beach essentials amenity : 570
Value counts of Dedicated workspace: monitor, desk, table, and office chair amenity : 1
Value counts of Bread maker amenity : 81
Value counts of Ceiling fan amenity : 540
Value counts of Microwave amenity : 4622
Value counts of Iron amenity : 6002
Value counts of Free washer \u2013 In building amenity : 69
Value counts of 68\ HDTV with Amazon Prime Video, Apple TV, Netflix, standard cable amenity : 0
Value counts of Refrigerator amenity : 4655
Value counts of Outdoor shower amenity : 135
Value counts of Board games amenity : 294
Value counts of Fire extinguisher amenity : 2999
Value counts of Hot water kettle amenity : 1373
Value counts of Piano amenity : 66
Value counts of Samsung Bar Bluetooth sound system amenity : 1
Value counts of Children\u2019s dinnerware amenity : 461
Value counts of Stove amenity : 3844
Value counts of Portable fans amenity : 683
Value counts of Ethernet connection amenity : 707
Value counts of Bed linens amenity : 4120
Value counts of Game console amenity : 146
Value counts of Cable TV amenity : 1128
Value counts of Hangers amenity : 6046
Value counts of Pack \u2019n play/Travel crib amenity : 694
Value counts of BBQ grill amenity : 1510
Value counts of Body soap amenity : 1093
Value counts of First aid kit amenity : 2656
Value counts of Smoke alarm amenity : 6553
Value counts of Room-darkening shades amenity : 1232
Value counts of Luggage dropoff allowed amenity : 2000
Value counts of Private patio or balcony amenity : 1085
Value counts of Essentials amenity : 6542
Value counts of Cooking basics amenity : 4575
Value counts of Barbecue utensils amenity : 665
Value counts of Baking sheet amenity : 565
Value counts of Outdoor furniture amenity : 1062
Value counts of Outdoor dining area amenity : 751
Value counts of Private outdoor saltwater pool amenity : 5
Value counts of Wifi amenity : 6592
Value counts of Free street parking amenity : 3396
Value counts of Dishwasher amenity : 2993
Value counts of Freezer amenity : 1187
Value counts of Nespresso machine amenity : 370
Value counts of Dishes and silverware amenity : 4989
Value counts of Wine glasses amenity : 1212
Value counts of Cleaning products amenity : 1118
Value counts of Free parking on premises amenity : 3138
Value counts of Shampoo amenity : 5285
Value counts of Shower gel amenity : 1755
Value counts of Children\u2019s books and toys amenity : 766
Value counts of Kitchen amenity : 6312
Value counts of Baby safety gates amenity : 196
Value counts of High chair amenity : 868
Value counts of Rice maker amenity : 339
Value counts of Trash compactor amenity : 35
Value counts of Mosquito net amenity : 84

Generally, the top 4 amenities to be recorded are: 'Long term stays allowed', 'Wifi', 'Essentials', 'Smoke alarm'. By apply the same function structure of creating verifications, 4 amenity features can be captured as below:

In [28]:
#for Long term stays allowed amenity 
def longterm_amenity(row):
    for i in range(len(row)):
        if 'Long term stays allowed' in row['amenities']:
            return 1 
        else: 
            return 0

#for Wifi amenity 
def wifi_amenity(row):
    for i in range(len(row)):
        if 'Wifi' in row['amenities']:
            return 1 
        else: 
            return 0

#for Essentials amenity 
def essentials_amenity(row):
    for i in range(len(row)):
        if 'Essentials' in row['amenities']:
            return 1 
        else: 
            return 0

#for Smoke alarm amenity 
def smokealarm_amenity(row):
    for i in range(len(row)):
        if 'Smoke alarm' in row['amenities']:
            return 1 
        else: 
            return 0

In [29]:
#apply to the test set
df_train['Long term stays allowed'] = df_train.apply(longterm_amenity, axis=1)
df_train['Wifi'] = df_train.apply(wifi_amenity, axis=1)
df_train['Essentials'] = df_train.apply(essentials_amenity, axis=1)
df_train['Smoke alarm'] = df_train.apply(smokealarm_amenity, axis=1)

In [30]:
#apply to the test set
df_test['Long term stays allowed'] = df_test.apply(longterm_amenity, axis=1)
df_test['Wifi'] = df_test.apply(wifi_amenity, axis=1)
df_test['Essentials'] = df_test.apply(essentials_amenity, axis=1)
df_test['Smoke alarm'] = df_test.apply(smokealarm_amenity, axis=1)

In [31]:
#drop the original column
df_train.drop(columns='amenities', inplace=True)
df_test.drop(columns='amenities', inplace=True)

**Task 2, Question 3**: Impute missing values for all features in both training and test datasets.   
(2 marks)

***For training dataset:***

In [32]:
df_train.shape

(7000, 66)

In [33]:
df_train.columns

Index(['name', 'description', 'neighborhood_overview', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_listings_count', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'price', 'email', 'phone', 'reviews', 'jumio',
       'Long term stays allowed', 'Wifi', 'Essentials', 'Smoke alarm'],
      dtype='object')

As different variables have specific characteristics including range, type, etc; different values should be utilized to impute missing values for all columns. Generally, while we can fill all misisng text variables with **'unknown'** value, numerical variables' missing values can be imputed with their **mode** or **mean** based on their characteristics. 

First, we start the imputing process with text-based columns:

In [34]:
textcol = ['name', 'description', 'neighborhood_overview', 'host_about', 'neighbourhood_cleansed', 'license']

In [35]:
df_train[textcol] = df_train[textcol].fillna(value='unknonwn')

We continue to handle numerical features which are divided into 2 categories. Specifically, specific features can be imputed with their most frequent values (mode) while the remaining features are filled with their average values (mean) instead.

In [36]:
modefillcol = ['host_location','host_response_time', 'property_type', 'room_type','bathrooms']

In [37]:
modes = df_train[modefillcol].mode()
df_train[modefillcol] = df_train[modefillcol].fillna(value=modes.iloc[0])

In [38]:
meanfillcol = ['host_response_rate','host_acceptance_rate','bedrooms','beds','minimum_minimum_nights','maximum_maximum_nights','availability_365','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','reviews_per_month']

In [39]:
means = df_train[meanfillcol].mean()
df_train[meanfillcol] = df_train[meanfillcol].fillna(value=means.iloc[0])

However, by investigating thoroughout the dataset, we recognize that various numberical features should be in the form of integers instead of floatin point numbers. Therefore, they will be converted to the correct form for analysis purposes.

In [40]:
df_train[['bedrooms','beds','availability_365','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm']] = df_train[['bedrooms','beds','availability_365','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm']].astype(int)

***For test dataset:***

In [41]:
df_test.shape

(3000, 65)

We repeat the same process as for the training dataset so that misisng values of the test set can be appropriately imputed.

In [42]:
df_test[textcol] = df_test[textcol].fillna(value='unknonwn')

In [43]:
test_modes = df_test[modefillcol].mode()
df_test[modefillcol] = df_test[modefillcol].fillna(value=test_modes.iloc[0])

In [44]:
test_means = df_test[meanfillcol].mean()
df_test[meanfillcol] = df_test[meanfillcol].fillna(value=test_means.iloc[0])

In [45]:
df_test[['bedrooms','beds','availability_365','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm']] = df_test[['bedrooms','beds','availability_365','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm']].astype(int)

**Task 2, Question 4**: Encode all categorical variables appropriately as discussed in class. 


Where a categorical feature contains more than 5 unique values, map the features into 5 most frequent values + 'other' and then encode appropriately. For instance, you could group then map `property_type` into 5 basic types + 'other': [entire rental unit, private room, entire room, entire towehouse, shared room, other] and then encode.  
(2 marks)

In [46]:
## Task 2, Question 4 Code Here
df_train['property_type'].value_counts()

Entire rental unit                     3066
Entire residential home                1164
Private room in residential home        680
Private room in rental unit             433
Entire guest suite                      262
Entire guesthouse                       217
Entire townhouse                        150
Room in boutique hotel                  123
Entire condominium (condo)              107
Entire serviced apartment                89
Private room in townhouse                84
Entire cottage                           62
Room in hotel                            59
Entire loft                              47
Private room in guest suite              39
Room in aparthotel                       38
Entire villa                             38
Private room in villa                    32
Entire bungalow                          30
Room in serviced apartment               27
Private room in guesthouse               27
Private room in condominium (condo)      22
Private room in hostel                   21
Tiny house                               20
Entire cabin                             18
Shared room in rental unit               16
Shared room in hostel                    14
Private room in bed and breakfast        13
Private room in loft                     11
Private room in bungalow                  8
Shared room in residential home           8
Boat                                      7
Entire place                              6
Private room in serviced apartment        6
Farm stay                                 6
Room in hostel                            5
Shared room in bed and breakfast          4
Private room                              4
Private room in cabin                     4
Room in bed and breakfast                 3
Private room in farm stay                 2
Entire vacation home                      2
Shared room in townhouse                  2
Private room in chalet                    2
Shared room in condominium (condo)        2
Island                                    2
Dome house                                1
Houseboat                                 1
Shared room in villa                      1
Campsite                                  1
Private room in island                    1
Private room in tiny house                1
Train                                     1
Barn                                      1
Bus                                       1
Treehouse                                 1
Cave                                      1
Earth house                               1
Shared room in earth house                1
Private room in yurt                      1
Shared room in guest suite                1
Camper/RV                                 1
Casa particular                           1
Shared room in serviced apartment         1
Name: property_type, dtype: int64

In [47]:
df_test['property_type'].value_counts()

Entire rental unit                     1222
Private room in rental unit             519
Entire residential home                 431
Private room in residential home        359
Private room in townhouse                62
Entire townhouse                         54
Entire guest suite                       43
Entire condominium (condo)               43
Shared room in rental unit               31
Entire guesthouse                        28
Private room in condominium (condo)      26
Shared room in residential home          17
Room in boutique hotel                   15
Entire villa                             15
Entire serviced apartment                14
Private room in villa                    11
Room in hotel                            10
Entire loft                               9
Shared room in hostel                     8
Private room in guest suite               8
Entire cottage                            8
Private room in bungalow                  6
Entire bungalow                           6
Shared room in condominium (condo)        5
Private room in guesthouse                4
Camper/RV                                 4
Private room in loft                      4
Room in serviced apartment                3
Private room in serviced apartment        3
Tiny house                                3
Entire place                              3
Private room in hostel                    3
Private room in casa particular           2
Entire home/apt                           2
Shared room in guesthouse                 2
Island                                    1
Private room in tipi                      1
Private room in tiny house                1
Private room in tent                      1
Private room in bed and breakfast         1
Shared room in boutique hotel             1
Holiday park                              1
Boat                                      1
Farm stay                                 1
Private room                              1
Entire chalet                             1
Entire cabin                              1
Private room in cottage                   1
Room in aparthotel                        1
Private room in pension                   1
Room in hostel                            1
Entire vacation home                      1
Name: property_type, dtype: int64

After investigating the identified values of `property_type` of both datasets, it is evident to group values which are relevant to 'Private room', 'Shared room' and 'Entire room'. However, as it is difficult to idenify which values can be grouped together for 'Entire townhouse' or 'Entire rental unit', we need to specify lists of possible values and apply ordinal encodings.

In [48]:
e_townhouse = ['Entire villa', 'Entire residential home','Entire guest suite','Entire guesthouse','Entire bungalow','Tiny house','Entire place','Entire vacation home','Dome house','Earth house','Casa particular']
e_rentalunit = ['Entire serviced apartment', 'Entire loft', 'Entire rental unit', 'Entire condominium (condo)', 'Entire cottage']

In [49]:
#apply to the training set
for i in range(len(df_train)):
    if 'Private room' in df_train['property_type'].loc[i]:
        df_train['property_type'].loc[i]= 'Private room'
    if 'Shared room' in df_train['property_type'].loc[i]:
        df_train['property_type'].loc[i]= 'Shared room'
    if 'Room in' in df_train['property_type'].loc[i]:
        df_train['property_type'].loc[i]= 'Entire room'
    if df_train['property_type'].loc[i] in e_townhouse:
        df_train['property_type'].loc[i]= 'Entire townhouse'
    if df_train['property_type'].loc[i] in e_rentalunit:
        df_train['property_type'].loc[i]= 'Entire rental unit'

In [50]:
#apply to the test set
for j in range(len(df_test)):
    if 'Private room' in df_test['property_type'].iloc[j]:
        df_test['property_type'].iloc[j]= 'Private room'
    if 'Shared room' in df_test['property_type'].iloc[j]:
        df_test['property_type'].iloc[j]= 'Shared room'
    if 'Room in' in df_test['property_type'].iloc[j]:
        df_test['property_type'].iloc[j]= 'Entire room'
    if df_test['property_type'].iloc[j] in e_townhouse:
        df_test['property_type'].iloc[j]= 'Entire townhouse'
    if df_test['property_type'].iloc[j] in e_rentalunit:
        df_test['property_type'].iloc[j]= 'Entire rental unit'

Now that 5 basic types of Airbnb property have been identified, the remaining values can be assigned as 'Other'.

In [51]:
for i in range(len(df_train)):
    if df_train['property_type'].loc[i] not in ['Private room', 'Shared room','Entire room', 'Entire townhouse','Entire rental unit']:
        df_train['property_type'].loc[i] = 'Other'

In [52]:
for i in range(len(df_test)):
    if df_test['property_type'].iloc[i] not in ['Private room', 'Shared room','Entire room', 'Entire townhouse','Entire rental unit']:
        df_test['property_type'].iloc[i] = 'Other'

In [53]:
df_train['property_type'].value_counts()

Entire rental unit    3371
Entire townhouse      1892
Private room          1391
Entire room            255
Shared room             50
Other                   41
Name: property_type, dtype: int64

In [54]:
df_test['property_type'].value_counts()

Entire rental unit    1296
Private room          1014
Entire townhouse       584
Shared room             64
Entire room             30
Other                   12
Name: property_type, dtype: int64

In [55]:
df_train['price'].groupby(df_train['property_type']).mean()

property_type
Entire rental unit    240.258974
Entire room           229.866667
Entire townhouse      473.339852
Other                 482.634146
Private room           80.474479
Shared room            47.100000
Name: price, dtype: float64

As the target variable is `price`, we divide all identified values of `property_type` into 5 main groups based on the each type's average price in the descending order. 5 main types are 'entire rental unit', 'private room', 'entire room', 'entire townhouse', 'shared room' and the remaining types as 'other' and replace them in the dataset.

In [56]:
#map integer value
property_mapping = {'Other':6, 'Entire townhouse':5, 'Entire rental unit':4, 'Entire room':3, 'Private room':2, 'Shared room':1}
df_train['map_property_type'] = df_train['property_type'].map(property_mapping)
df_test['map_property_type'] = df_test['property_type'].map(property_mapping)

In [57]:
#drop the original column after mapping 
df_train.drop(columns=['property_type'],inplace=True)
df_test.drop(columns=['property_type'],inplace=True)

In [58]:
df_train['bathrooms'].value_counts()

1 bath               3614
2 baths              1065
1 shared bath         601
1 private bath        459
1.5 baths             326
3 baths               223
2.5 baths             222
1.5 shared baths      117
2 shared baths        113
3.5 baths              65
4 baths                58
3 shared baths         32
2.5 shared baths       19
0 shared baths         12
5 baths                11
4.5 baths              10
0 baths                10
3.5 shared baths        8
Shared half-bath        8
6 shared baths          5
Half-bath               5
4 shared baths          3
4.5 shared baths        3
7 shared baths          2
6 baths                 2
5.5 shared baths        2
5.5 baths               2
Private half-bath       1
6.5 baths               1
11 baths                1
Name: bathrooms, dtype: int64

In [59]:
df_test['bathrooms'].value_counts()

1 bath               1403
1 shared bath         450
2 baths               405
1 private bath        237
1.5 baths             122
3 baths               103
2.5 baths              82
2 shared baths         57
1.5 shared baths       52
3.5 baths              18
4 baths                17
2.5 shared baths       10
0 baths                 7
3 shared baths          7
4.5 baths               6
5 baths                 6
0 shared baths          5
Half-bath               3
5.5 baths               2
6 baths                 2
4 shared baths          2
3.5 shared baths        1
19 baths                1
Shared half-bath        1
Private half-bath       1
Name: bathrooms, dtype: int64

Besides, it is identified that `bathrooms` feature includes more than 5 unique values which indicates a suitable encoding should also be applied. Based on the counting results of all bathroom types, we can classify them as 5 main groups: one full bath (1 bath), one full private full bath (1 private bath), one full shared bath (1 shared bath), many full baths (many baths), many full shared baths (many shared baths) and the remaining type as other.

In [60]:
#replace values 
#1 full bath
one_bath = ['1.5 baths']
df_train['bathrooms'] = df_train['bathrooms'].replace(one_bath,'1 bath')
df_test['bathrooms'] = df_test['bathrooms'].replace(one_bath,'1 bath')
#1 full shared bath
sh_bath = ['1.5 shared baths']
df_train['bathrooms'] = df_train['bathrooms'].replace(sh_bath,'1 shared bath')
df_test['bathrooms'] = df_test['bathrooms'].replace(sh_bath,'1 shared bath')
#many full baths
many_baths = ['2 baths','3 baths','2.5 baths','3.5 baths','4 baths','6 baths','5.5 baths','6.5 baths','11 baths','19 baths']
df_train['bathrooms'] = df_train['bathrooms'].replace(many_baths,'Many baths')
df_test['bathrooms'] = df_test['bathrooms'].replace(many_baths,'Many baths')
#many full shared baths
many_sh_baths = ['2 shared baths','3 shared baths','2.5 shared baths','5 baths','4.5 baths','3.5 shared baths','6 shared baths','4 shared baths','4.5 shared baths','7 shared baths','5.5 shared baths']
df_train['bathrooms'] = df_train['bathrooms'].replace(many_sh_baths,'Many shared baths')
df_test['bathrooms'] = df_test['bathrooms'].replace(many_sh_baths,'Many shared baths')
#the remaining types
other = ['0 shared baths','0 baths','Shared half-bath','Half-bath','Private half-bath']
df_train['bathrooms'] = df_train['bathrooms'].replace(other,'Other')
df_test['bathrooms'] = df_test['bathrooms'].replace(other,'Other')

In [61]:
df_train['bathrooms'].value_counts()

1 bath               3940
Many baths           1639
1 shared bath         718
1 private bath        459
Many shared baths     208
Other                  36
Name: bathrooms, dtype: int64

In [62]:
df_test['bathrooms'].value_counts()

1 bath               1525
Many baths            630
1 shared bath         502
1 private bath        237
Many shared baths      89
Other                  17
Name: bathrooms, dtype: int64

In [63]:
#map integer value
bathrooms_mapping = {'Other':1, 'Many shared baths':2, 'Many baths':3, '1 shared bath':4, '1 private bath':5, '1 bath':6}
df_train['map_bathrooms'] = df_train['bathrooms'].map(bathrooms_mapping)
df_test['map_bathrooms'] = df_test['bathrooms'].map(bathrooms_mapping)

In [64]:
#drop the original column after mapping 
df_train.drop(columns=['bathrooms'],inplace=True)
df_test.drop(columns=['bathrooms'],inplace=True)

**Task 2, Question 5**: Perform any other actions you think need to be done on the data before constructing predictive models, and clearly explain what you have done.   
(1 marks)

In [65]:
df_train['room_type'].value_counts()

Entire home/apt    5337
Private room       1511
Hotel room          103
Shared room          49
Name: room_type, dtype: int64

In [66]:
df_train['host_response_time'].value_counts()

within an hour        4552
within a few hours    1271
within a day           860
a few days or more     317
Name: host_response_time, dtype: int64

Even though `room_type` and `host_response_time` only has 4 unique values, this feature should also be in an appropriate ordering of the labels by applying the same mapping integer values process.

In [67]:
#map integer value
room_mapping = {'Shared room':1, 'Hotel room':2, 'Private room':3, 'Entire home/apt':4}
df_train['room_maptype'] = df_train['room_type'].map(room_mapping)
df_test['room_maptype'] = df_test['room_type'].map(room_mapping)

In [68]:
response_time_mapping = {'a few days or more':1, 'within a day':2, 'within a few hours':3, 'within an hour':4}
df_train['response_time'] = df_train['host_response_time'].map(response_time_mapping)
df_test['response_time'] = df_test['host_response_time'].map(response_time_mapping)

In [69]:
#drop the original column after mapping 
df_train.drop(columns=['room_type'],inplace=True)
df_test.drop(columns=['room_type'],inplace=True)

In [70]:
#drop the original column after mapping 
df_train.drop(columns=['host_response_time'],inplace=True)
df_test.drop(columns=['host_response_time'],inplace=True)

Moreover, by assessing the values of the remaining categorical features which are `has_availability`, `host_is_superhost`, `host_has_profile_pic`, `host_identity_verified` and `instant_bookable`, we recognize that they only have 2 values of 't' and 'f'. Therefore, we can encode these 2 values to 1 and 0 respectively.

In [71]:
df_train['has_availability'].value_counts()

t    6986
f      14
Name: has_availability, dtype: int64

In [72]:
df_train['host_is_superhost'].value_counts()

f    4901
t    2099
Name: host_is_superhost, dtype: int64

In [73]:
df_train['host_has_profile_pic'].value_counts()

t    6981
f      19
Name: host_has_profile_pic, dtype: int64

In [74]:
df_train['host_identity_verified'].value_counts()

t    6320
f     680
Name: host_identity_verified, dtype: int64

In [75]:
df_train['instant_bookable'].value_counts()

f    4575
t    2425
Name: instant_bookable, dtype: int64

In [76]:
#encode values
df_train['has_availability'].replace({'t': 1, 'f': 0}, inplace=True)
df_train['host_is_superhost'].replace({'t': 1, 'f': 0}, inplace=True)
df_train['host_has_profile_pic'].replace({'t': 1, 'f': 0}, inplace=True)
df_train['host_identity_verified'].replace({'t': 1, 'f': 0}, inplace=True)
df_train['instant_bookable'].replace({'t': 1, 'f': 0}, inplace=True)

In [77]:
#encode values
df_test['has_availability'].replace({'t': 1, 'f': 0}, inplace=True)
df_test['host_is_superhost'].replace({'t': 1, 'f': 0}, inplace=True)
df_test['host_has_profile_pic'].replace({'t': 1, 'f': 0}, inplace=True)
df_test['host_identity_verified'].replace({'t': 1, 'f': 0}, inplace=True)
df_test['instant_bookable'].replace({'t': 1, 'f': 0}, inplace=True)

**Task 2, Question 6**: Perform exploratory data analysis to measure the relationship between the features and the target and write up your findings. 
(2 marks)

To explore and measure the relationship between current features and `price` as the target variable, we can construct correlation matrix to establish them:

In [79]:
correlations = df_train.corr().unstack().sort_values(ascending=False) #build correlation matrix
correlations = pd.DataFrame(correlations).reset_index() #convert to dataframe
correlations.columns = ['Target', 'Features', 'Correlation'] #label it
correlations.query("Target == 'price' & Features != 'price'") #filter by variable

     Target                                      Features  Correlation
143   price                                  accommodates     0.597608
163   price                             map_property_type     0.381652
185   price                                  room_maptype     0.263343
188   price                                      latitude     0.262959
189   price                                     longitude     0.262011
292   price   calculated_host_listings_count_entire_homes     0.134978
395   price                          review_scores_rating     0.096719
399   price                           host_listings_count     0.095468
438   price                                       reviews     0.084221
448   price                             reviews_per_month     0.080419
466   price                     review_scores_cleanliness     0.077085
469   price                        review_scores_location     0.076400
471   price                        review_scores_accuracy     0.076139
474   price                   review_scores_communication     0.076071
475   price                         review_scores_checkin     0.075147
478   price                           review_scores_value     0.075103
488   price                calculated_host_listings_count     0.073491
498   price                              availability_365     0.072144
557   price                                         jumio     0.061271
596   price                        host_identity_verified     0.056668
756   price                                         email     0.039245
1012  price                                          beds     0.020514
1228  price                                   Smoke alarm     0.010332
1286  price                              has_availability     0.008724
1351  price                                         phone     0.005411
1463  price                        maximum_nights_avg_ntm    -0.000759
1486  price                        maximum_maximum_nights    -0.001471
1530  price                                          Wifi    -0.004020
1755  price                          host_has_profile_pic    -0.015908
1879  price                                    Essentials    -0.022663
1959  price                               availability_60    -0.025466
2012  price                               availability_30    -0.027378
2030  price                               availability_90    -0.029104
2068  price                            host_response_rate    -0.031805
2174  price                             host_is_superhost    -0.041883
2205  price   calculated_host_listings_count_shared_rooms    -0.046694
2343  price                        number_of_reviews_l30d    -0.064508
2377  price                                maximum_nights    -0.070754
2424  price                        maximum_minimum_nights    -0.078419
2441  price                       Long term stays allowed    -0.080048
2462  price                                minimum_nights    -0.082712
2475  price                        minimum_nights_avg_ntm    -0.085047
2489  price                        minimum_minimum_nights    -0.088852
2493  price                         number_of_reviews_ltm    -0.089261
2559  price  calculated_host_listings_count_private_rooms    -0.099050
2581  price                                      bedrooms    -0.102601
2584  price                        minimum_maximum_nights    -0.102671
2613  price                              instant_bookable    -0.110357
2627  price                             number_of_reviews    -0.117206
2651  price                                 response_time    -0.130608
2693  price                          host_acceptance_rate    -0.157264
2797  price                                 map_bathrooms    -0.313761

- Majority of the correlation showed a weak relationship as nearly closed to 0. 
- The 3 in the highest order are accommodates, properties and room type. Meaning that the essential organizing of these features could lead to a higher listing price as a common type of feature that creates values of living experiences. 
- On the opposite, the bottom level of Response rate, bathroom type and acceptance rate could result in a low listing price as it is directly related to the comfortable experiences of customers while making the booking and using the facilities.

**Feature Engineering**

After cleaning all string-based, categorical and numerical data, we identify that various potential features will not be utilized for forecasting models and included in the subset of the training data. They can be listed as: `name`,`description`,`neighborhood_overview`,`host_name`,`host_since`,`host_location`,`host_about`, `host_neighbourhood`,`neighbourhood`,
`neighbourhood_cleansed`,`first_review`,`last_review` and `license`.

--- 
## Task 3: Fit and tune a forecasting model/Submit predictions/Report score and ranking

Make sure you **clearly explain each step** you do, both in text and on the recoded video.

1. Build a machine learning (ML) regression model taking into account the outcomes of Tasks 1 & 2
2. Fit the model and tune hyperparameters via cross-validation: make sure you comment and explain each step clearly
3. Create predictions using the test dataset and submit your predictions on Kaggle's competition page
4. Provide Kaggle ranking and **score** (screenshot your best submission) and comment
5. Make sure your Python code works, so that a marker that can replicate your all of your results and obtain the same MSE from Kaggle

- Hint: to perform well you will need to iterate Task 3, building and tuning various models in order to find the best one.

Total Marks: 11

Assuming that the training dataset follows a linear relationship, we can try applying Multiple Regression on it to have initial investigations.

In [80]:
df_train.shape

(7000, 66)

In [81]:
df_train.head(1)

,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,latitude,longitude,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price,email,phone,reviews,jumio,Long term stays allowed,Wifi,Essentials,Smoke alarm,map_property_type,map_bathrooms,room_maptype,response_time
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,Manly Harbour House,"Beautifully renovated, spacious and quiet, our...",Balgowlah Heights is one of the most prestigio...,Heidi,2009-11-20,"Sydney, New South Wales, Australia",I am a Canadian who has made Australia her hom...,100.0,69.0,1,Balgowlah,2.0,1,1,"Balgowlah, New South Wales, Australia",Manly,-33.80084,151.26378,6,3,3,2,22,2,2,22,22,2,22,1,0,14,14,174,3,1,0,2016-01-02,2021-06-01,4.67,4.33,4.33,4.67,4.33,4.67,4.33,Exempt,0,2,2,0,0,0.04,470.0,1,1,1,1,0,1,1,1,5,3,4,3

In [89]:
#Task 3 code here
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor 
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

X = df_train.drop(['name','description','neighborhood_overview','host_name','host_since','host_location','host_about','host_neighbourhood','neighbourhood','neighbourhood_cleansed','first_review','last_review','license','price'],axis=1)
y = df_train['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
X_train.shape, X_test.shape

((4900, 52), (2100, 52))

Without setting a number to random state, you will get different results every time you run your program.

**1. Multiple Linear Regression**

In [44]:
# Import preprocessing module
from sklearn import preprocessing 
from sklearn.preprocessing import StandardScaler
# Create instance for feature standardization 
stdsc = StandardScaler()

In [45]:
# Scale and transform the training and test sets
X_train_std = stdsc.fit_transform(X_train)
X_test_std = stdsc.transform(X_test)

In [91]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

lr = LinearRegression()

lr.fit(X_train, y_train)

lr_y_train_pred = lr.predict(X_train)
lr_y_test_pred = lr.predict(X_test)

print(f'MSE train: {mean_squared_error(y_train, lr_y_train_pred):.3f}, test: {mean_squared_error(y_test, lr_y_test_pred):.3f}')
print(f'R^2 train: {r2_score(y_train, lr_y_train_pred):.3f}, test: {r2_score(y_test, lr_y_test_pred):.3f}')

LinearRegression()

MSE train: 60390.318, test: 51871.101
R^2 train: 0.497, test: 0.493

**2. LASSO Regression**

In [81]:
from sklearn.linear_model import Lasso
    
lasso = Lasso(alpha=0.1) # alpha = lambda (above)

lasso.fit(X_train_std, y_train)

lasso_y_train_pred = lasso.predict(X_train_std)
lasso_y_test_pred = lasso.predict(X_test_std)

print(f'MSE train: {mean_squared_error(y_train, lasso_y_train_pred):.3f}, test: {mean_squared_error(y_test, lasso_y_test_pred):.3f}')
print(f'R^2 train: {r2_score(y_train, lasso_y_train_pred):.3f}, test: {r2_score(y_test, lasso_y_test_pred):.3f}')

MSE train: 60192.452, test: 52071.046
R^2 train: 0.499, test: 0.491

C:\Users\haiho\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 37334324.56415951, tolerance: 58839.56974977551
  model = cd_fast.enet_coordinate_descent(

Based on the MSE and R squared results of both Multiple Regression and LASSO regression, it is evident that the training dataset has a higher higher possibility of having nonlinear data. Therefore, we can start apply other nonlinear methods to identify the optimal regression model.

**3. Random Forest Regression**

In [46]:
from sklearn.ensemble import RandomForestRegressor

forest = RandomForestRegressor()

forest.fit(X_train, y_train)

forest_y_train_pred = forest.predict(X_train)
forest_y_test_pred = forest.predict(X_test)

print(f'MSE train: {mean_squared_error(y_train, forest_y_train_pred):.3f}, test: {mean_squared_error(y_test, forest_y_test_pred):.3f}')
print(f'R^2 train: {r2_score(y_train, forest_y_train_pred):.3f}, test: {r2_score(y_test, forest_y_test_pred):.3f}')

MSE train: 6583.928, test: 36361.292
R^2 train: 0.945, test: 0.645

In [74]:
from sklearn.ensemble import RandomForestRegressor

forest = RandomForestRegressor(n_estimators=200, 
                               criterion='mse', 
                               random_state=42,
                               max_features=22,
                               n_jobs=-1)
forest.fit(X_train, y_train)

forest_y_train_pred = forest.predict(X_train)
forest_y_test_pred = forest.predict(X_test)

print(f'MSE train: {mean_squared_error(y_train, forest_y_train_pred):.3f}, test: {mean_squared_error(y_test, forest_y_test_pred):.3f}')
print(f'R^2 train: {r2_score(y_train, forest_y_train_pred):.3f}, test: {r2_score(y_test, forest_y_test_pred):.3f}')

MSE train: 5764.617, test: 34202.624
R^2 train: 0.952, test: 0.666

Tuning model:

In [92]:
# Number of trees in Random Forest
rf_n_estimators = [int(x) for x in np.linspace(200, 1000, 5)]
rf_n_estimators.append(1500)
rf_n_estimators.append(2000)

# Maximum number of levels in tree
rf_max_depth = [int(x) for x in np.linspace(5, 55, 11)]
# Add the default as a possible value
rf_max_depth.append(None)

# Number of features to consider at every split
rf_max_features = ['auto', 'sqrt', 'log2']

# Criterion to split on
rf_criterion = ['mse', 'mae']

# Minimum number of samples required to split a node
rf_min_samples_split = [int(x) for x in np.linspace(2, 10, 9)]

# Minimum decrease in impurity required for split to happen
rf_min_impurity_decrease = [0.0, 0.05, 0.1]

# Method of selecting samples for training each tree
rf_bootstrap = [True, False]

# Create the grid
rf_grid = {'n_estimators': rf_n_estimators,
               'max_depth': rf_max_depth,
               'max_features': rf_max_features,
               'criterion': rf_criterion,
               'min_samples_split': rf_min_samples_split,
               'min_impurity_decrease': rf_min_impurity_decrease,
               'bootstrap': rf_bootstrap}

In [ ]:
#Importing Random Forest Classifier from the sklearn.ensemble
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

# Create the model to be tuned
rf_base = RandomForestRegressor()

# Create the random search Random Forest
rf_random = RandomizedSearchCV(estimator = rf_base, param_distributions = rf_grid, 
                               n_iter = 200, cv = 3, verbose = 2, random_state = 42, 
                               n_jobs = -1)

# Fit the random search model
rf_random.fit(X_train, y_train)

# View the best parameters from the random search
rf_random.best_params_

In [ ]:
rf_random.fit(X_train, y_train)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      120],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 3, 4],
                                        'min_samples_split': [2, 6, 10],
                                        'n_estimators': [5, 20, 50, 100]},
                   random_state=35, verbose=2)

In [ ]:
print ('Random grid: ', random_grid, '\n')
# print the best parameters
print ('Best Parameters: ', rf_random.best_params_, ' \n')

Random grid:  {'n_estimators': [5, 20, 50, 100], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120], 'min_samples_split': [2, 6, 10], 'min_samples_leaf': [1, 3, 4], 'bootstrap': [True, False]}

Best Parameters:  {'n_estimators': 50, 'min_samples_split': 2, 'min_samples_leaf': 3, 'max_features': 'sqrt', 'max_depth': 40, 'bootstrap': False}

In [52]:
randmf = RandomForestRegressor(n_estimators = 50, min_samples_split = 2, min_samples_leaf= 3, max_features = 'sqrt', max_depth= 40, bootstrap=False) 
randmf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=False, max_depth=40, max_features='sqrt',
                      min_samples_leaf=3, n_estimators=50)

In [53]:
randmf.score(X_train, y_train)

0.9191676019256815

**4. Bagging Regressor**

Default model:

In [78]:
from sklearn.ensemble import BaggingRegressor 

bag = BaggingRegressor()

bag.fit(X_train, y_train)

bag_y_train_pred = bag.predict(X_train)
bag_y_test_pred = bag.predict(X_test)

print(f'MSE train: {mean_squared_error(y_train, bag_y_train_pred):.3f}, test: {mean_squared_error(y_test, bag_y_test_pred):.3f}')
print(f'R^2 train: {r2_score(y_train, bag_y_train_pred):.3f}, test: {r2_score(y_test, bag_y_test_pred):.3f}')

MSE train: 8234.281, test: 43402.342
R^2 train: 0.931, test: 0.576

Tuning model:

In [67]:
test_input = df_test.drop(['ID','name','description','neighborhood_overview','host_name','host_since','host_location','host_about','host_neighbourhood','neighbourhood','neighbourhood_cleansed','first_review','last_review','license'],axis=1)
test_input.shape

(3000, 52)

In [49]:
test_input_std = stdsc.fit_transform(test_input)

In [76]:
submission = forest.predict(test_input)
submission

array([ 52.37 , 123.6  , 164.35 , ..., 258.75 , 192.155, 255.71 ])

In [77]:
df_test['price'] = submission

In [78]:
df_test[['ID','price']].to_csv('submission.csv',index=False)

In [75]:
df_test.drop(columns='price',inplace=True)

`(Task 3 - insert more cells as required)`