### __BUSA3020 Group Assignment - Predicting Airbnb Listing Prices in Sydney__

--- 

**Due Date:** Friday, 3 June 2022 @ 11.59pm (Week 13)

**Overview:**   

- In the group assignment you will form a team of up to 3 students (minimum 2) and participate in a forecasting competition on Kaggle
- The goal is to predict listed property prices of Airbnb stays based on various Airbnb characteristics and regression models

- You will:  
    - Write a problem statement and perform Exploratory Data Analysis  
    - Clean up data, deal with categorical features and missing observations, and create new variables (feature engineering)  
    - Construct and tune forecasting models, produce forecasts and submit your predictions to Kaggle  
    - Each member of the team will record a video presentation of their work  
    - Marks will be awarded producing a prediction in the top 3 positions of their unit as well as for reaching the highest ranking on Kaggle amongst all teams.

**Instructions:** 

- Form a team of 3 students (minimum 2 students)  
- Each team member needs to join [https://www.kaggle.com](https://www.kaggle.com/)  
- Choose a team leader and form a team in the competition [https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19](https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19)
    - Team leader to click on `team` and join and invite other team members to join
    - There are two MQBS BUSA units competing in this competition
    - Your **team's name must start** with your unit code, for instance you could have a team called BUSA3020_PR3D1CT0RS
- All team members should work on all the tasks listed below however   
    - **Choose a team member who will be responsible for one of each of the 3 tasks listed below**

**Marks**: 

- Total Marks: 40
- Your mark will consist of:  
    - 50% x overall assignment mark + 45% x mark for the task that you are responsible for + 5% x mark received from your teammates for your effort in group work 
- 7 marks will be deducted from each Task for which there is no video presentation

**Competition Marks:**
- 5 marks: Ranking in the top 3 places of your unit on Kaggle (make sure you name your team as instructed above)
- 2 marks: Reaching the first place in your unit  (make sure you name your team as instructed above)


**Submissions:**  

1. On Kaggle: submit your team's forecast in order to be ranked by Kaggle
    - Can do this as many times as necessary while building their model  
2. On iLearn **only team leader to submit** this Jupyter notebook re-named `Group_Assignment_MQ_ID.ipynb` where MQ_ID is team leader's MQ ID number 
    - The Jupyter notebook must contain team members names/ID numbers, and team name in the competition
    - Provide answers to the 3 Tasks below in the allocated cells including all codes/outputs/writeups 
    - One 15 minute video recording of your work 
        - Each team member to provide a 5 minute presentation of the Task that they led (it is best to jointly record your video using Zoom)
        - When recording your video make sure your face is visible, that you share your Jupyter Notebook and explain everything you've done in the submitted Jupyter notebook on screen
        - 7 marks will be deducted from each Task for which there is no video presentation or if you don't follow the above instructions
        
3. On iLearn each student needs to submit a file with their teammates' names, SID and a mark for their group effort (out of 100%)

---

**Fill out the following information**

For each team member provide name, Student ID number and which task is performed below

- Team Name on Kaggle: `Real Airbnb`
- Team Leader and Team Member 1: `Hai Hoang Nguyen`
- Team Member 2: `Dang Thanh Hung Nguyen`
- Team Member 3: `Lan Anh Duong`

---

## Task 1: Problem Description and Initial Data Analysis

1. Read the Competition Overview on Kaggle [https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19](https://www.kaggle.com/t/caad5fd1f5134d86a15ab13d37d98d19)
2. Referring to Competition Overview and the data provided on Kaggle write about a 500 words **Problem Description** focusing on key points that will need to be addressed as first steps in Tasks 2 and 3 below, using the following headings:
    - Forecasting Problem
    - Evaluation Criteria
    - Types of Variables/Features
    - Data summary and main data characteristics
    - Missing Values (only explain what you found at this stage)
    
Total Marks: 11

**Forcasting Problem:**

**Evaluation Criteria:**

**Types of Variables/Features:**

In [134]:
#Task 1 code here, insert more cells if required
import pandas as pd 
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

#df_train.info()

In [2]:
#df_test.info()

**Data summary and main characteristics:**

**Missing values:**

In [3]:
#df_test.isnull().sum()

`(Task 1, Text Here - insert more cells as required)`

---

## Task 2: Data Cleaning, Missing Observations and Feature Engineering
- In this task you will follow a set of instructions/questions listed below.
- Make sure you **explain** each step you do both in Markdown text and on your video.
    - Do not just read out your commands without exaplaining what they do and why you used them 

Total Marks: 11

**Task 2, Question 1**: Clean **all** numerical features and the target variable `price` so that they can be used in training algorithms. For instance, `host_response_rate` feature is in object format containing both numerical values and text. Extract numerical values (or equivalently eliminate the text) so that the numerical values can be used as a regular feature.  
(2 marks)

Even though the descriptive statistics summary provided by the initial data analysis includes 34 features, we can identify 37 numerical features after having another look at the original datasets. 3 numerical variables must be in the wrong format and should be corrected for further analyis. 

**'host_response_rate'** and **'host_acceptance_rate'** are the two features which contain both numerical values and text on each entry, specfically number with percentage symbol (%). Since the intial data types of these two columns are string, we need to convert them to float after extracting the unwanted character.

In [135]:
#examine the current data type
print(type(df_train['host_response_rate']))
print(type(df_train['host_acceptance_rate']))
print(type(df_test['host_response_rate']))
print(type(df_test['host_acceptance_rate']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [136]:
#remove unwanted character 
df_train['host_response_rate'] = df_train['host_response_rate'].str.replace('%', '')
df_train['host_acceptance_rate'] = df_train['host_acceptance_rate'].str.replace('%', '')
df_test['host_response_rate'] = df_test['host_response_rate'].str.replace('%', '')
df_test['host_acceptance_rate'] = df_test['host_acceptance_rate'].str.replace('%', '')

In [137]:
#change to float type 
df_train['host_response_rate'] = df_train['host_response_rate'].astype(float)
df_train['host_acceptance_rate'] = df_train['host_acceptance_rate'].astype(float)
df_test['host_response_rate'] = df_test['host_response_rate'].astype(float)
df_test['host_acceptance_rate'] = df_test['host_acceptance_rate'].astype(float)

Besides, **'price'** as the target variable of the training dataset is also not denoted as a floating point attribute due to the same pattern of having an unwanted character that is the dollar sign ($). By repeating the procedure, we can convert price to the accurate data type.

In [138]:
#examine the current data type
print(type(df_train['price']))

<class 'pandas.core.series.Series'>

In [139]:
#remove unwanted character 
df_train['price'] = df_train['price'].str.replace('$', '')
df_train['price'] = df_train['price'].str.replace(',', '')

C:\Users\haiho\AppData\Local\Temp/ipykernel_27676/4044502110.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_train['price'] = df_train['price'].str.replace('$', '')

In [140]:
#change to float type 
df_train['price'] = df_train['price'].astype(float)

`(Task 2, Question 1 Text Here - insert more cells as required)`

**Task 2, Question 2** Create at least 4 new features from existing features which contain multiple items of information, e.g. creating `email`,  `phone`, `reviews`, `jumio`, etc. from feature `host_verifications`.  
(2 marks)

In [141]:
## Task 2, Question 2 Code Here
df_train['host_verifications'].head(10)

0    ['email', 'phone', 'reviews', 'jumio', 'offlin...
1    ['email', 'phone', 'facebook', 'reviews', 'jum...
2    ['email', 'phone', 'facebook', 'reviews', 'jum...
3    ['email', 'phone', 'facebook', 'reviews', 'jum...
4    ['email', 'phone', 'reviews', 'jumio', 'offlin...
5    ['email', 'phone', 'reviews', 'jumio', 'offlin...
6    ['email', 'phone', 'reviews', 'jumio', 'govern...
7    ['email', 'phone', 'facebook', 'reviews', 'off...
8          ['email', 'phone', 'reviews', 'work_email']
9                        ['email', 'phone', 'reviews']
Name: host_verifications, dtype: object

In [142]:
print(type(df_train['host_verifications']))
print(type(df_test['host_verifications']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [143]:
for i in ['email', 'phone', 'reviews', 'jumio']:
    count = 0
    for row in df_train.itertuples(index = True, name ='Pandas'):
        if i in getattr(row, 'host_verifications'):
            count+=1
    print('Value counts of',i,'verifications :',count)

Value counts of email verifications : 6495
Value counts of phone verifications : 6995
Value counts of reviews verifications : 4429
Value counts of jumio verifications : 4795

Now we design 4 functions to create 4 new features based on the host verifications:

In [144]:
#for email verifications 
def email_veri(row):
    for i in range(len(row)):
        if 'email' in row['host_verifications']:
            return 1 
        else: 
            return 0

#for phone verifications 
def phone_veri(row):
    for i in range(len(row)):
        if 'phone' in row['host_verifications']:
            return 1 
        else: 
            return 0

#for reviews verifications 
def reviews_veri(row):
    for i in range(len(row)):
        if 'reviews' in row['host_verifications']:
            return 1 
        else: 
            return 0 

#for jumio verifications 
def jumio_veri(row):
    for i in range(len(row)):
        if 'jumio' in row['host_verifications']:
            return 1 
        else: 
            return 0

In [145]:
#apply to the training set
df_train['email'] = df_train.apply(email_veri, axis=1)
df_train['phone'] = df_train.apply(phone_veri, axis=1)
df_train['reviews'] = df_train.apply(reviews_veri, axis=1)
df_train['jumio'] = df_train.apply(jumio_veri, axis=1)

In [146]:
#apply to the test set
df_test['email'] = df_test.apply(email_veri, axis=1)
df_test['phone'] = df_test.apply(phone_veri, axis=1)
df_test['reviews'] = df_test.apply(reviews_veri, axis=1)
df_test['jumio'] = df_test.apply(jumio_veri, axis=1)

In [147]:
#drop the original column
df_train.drop(columns='host_verifications', inplace=True)
df_test.drop(columns='host_verifications', inplace=True)

We also identify that the **'amenities'** feature has multiple items of information which need to be separated.

In [148]:
df_train['amenities'].head(2)

0    ["Hot water", "Coffee maker", "Heating", "Hair...
1    ["Hot water", "Coffee maker", "Long term stays...
Name: amenities, dtype: object

In [149]:
longest_list = max(df_train['amenities'], key=len)
longest_list

'["Clothing storage: wardrobe, walk-in closet, and dresser", "Hot water", "Coffee maker", "Free dryer \\u2013 In building", "Toaster", "Heating", "Long term stays allowed", "Extra pillows and blankets", "Dining table", "Private fenced garden or backyard", "Bikes", "Hair dryer", "Conditioner", "Drying rack for clothing", "Babysitter recommendations", "Laundromat nearby", "Fire pit", "Bathtub", "Oven", "Private entrance", "Lockbox", "Beach essentials", "Dedicated workspace: monitor, desk, table, and office chair", "Bread maker", "Ceiling fan", "Microwave", "Iron", "Free washer \\u2013 In building", "68\\" HDTV with Amazon Prime Video, Apple TV, Netflix, standard cable", "Refrigerator", "Outdoor shower", "Board games", "Fire extinguisher", "Hot water kettle", "Piano", "Samsung Bar Bluetooth sound system", "Children\\u2019s dinnerware", "Stove", "Portable fans", "Ethernet connection", "Bed linens", "Game console", "Cable TV", "Hangers", "Pack \\u2019n play/Travel crib", "BBQ grill", "Body soap", "First aid kit", "Smoke alarm", "Room-darkening shades", "Luggage dropoff allowed", "Private patio or balcony", "Essentials", "Cooking basics", "Barbecue utensils", "Baking sheet", "Outdoor furniture", "Outdoor dining area", "Private outdoor saltwater pool", "Wifi", "Free street parking", "Dishwasher", "Freezer", "Nespresso machine", "Dishes and silverware", "Wine glasses", "Cleaning products", "Free parking on premises", "Shampoo", "Shower gel", "Children\\u2019s books and toys", "Kitchen", "Baby safety gates", "High chair", "Rice maker", "Trash compactor", "Mosquito net"]'

In [150]:
df_train.index[df_train['amenities']==longest_list].tolist()

[967]

In [151]:
for i in ["Clothing storage: wardrobe, walk-in closet, and dresser", "Hot water", "Coffee maker", "Free dryer \\u2013 In building", "Toaster", "Heating", "Long term stays allowed", "Extra pillows and blankets", "Dining table", "Private fenced garden or backyard", "Bikes", "Hair dryer", "Conditioner", "Drying rack for clothing", "Babysitter recommendations", "Laundromat nearby", "Fire pit", "Bathtub", "Oven", "Private entrance", "Lockbox", "Beach essentials", "Dedicated workspace: monitor, desk, table, and office chair", "Bread maker", "Ceiling fan", "Microwave", "Iron", "Free washer \\u2013 In building", "68\\ HDTV with Amazon Prime Video, Apple TV, Netflix, standard cable", "Refrigerator", "Outdoor shower", "Board games", "Fire extinguisher", "Hot water kettle", "Piano", "Samsung Bar Bluetooth sound system", "Children\\u2019s dinnerware", "Stove", "Portable fans", "Ethernet connection", "Bed linens", "Game console", "Cable TV", "Hangers", "Pack \\u2019n play/Travel crib", "BBQ grill", "Body soap", "First aid kit", "Smoke alarm", "Room-darkening shades", "Luggage dropoff allowed", "Private patio or balcony", "Essentials", "Cooking basics", "Barbecue utensils", "Baking sheet", "Outdoor furniture", "Outdoor dining area", "Private outdoor saltwater pool", "Wifi", "Free street parking", "Dishwasher", "Freezer", "Nespresso machine", "Dishes and silverware", "Wine glasses", "Cleaning products", "Free parking on premises", "Shampoo", "Shower gel", "Children\\u2019s books and toys", "Kitchen", "Baby safety gates", "High chair", "Rice maker", "Trash compactor", "Mosquito net"]:
    count = 0
    for row in df_train.itertuples(index = True, name ='Pandas'):
        if i in getattr(row, 'amenities'):
            count+=1
    print('Value counts of',i,'amenity :',count)

Value counts of Clothing storage: wardrobe, walk-in closet, and dresser amenity : 3
Value counts of Hot water amenity : 5506
Value counts of Coffee maker amenity : 2713
Value counts of Free dryer \u2013 In building amenity : 44
Value counts of Toaster amenity : 1229
Value counts of Heating amenity : 5067
Value counts of Long term stays allowed amenity : 6387
Value counts of Extra pillows and blankets amenity : 2957
Value counts of Dining table amenity : 1148
Value counts of Private fenced garden or backyard amenity : 357
Value counts of Bikes amenity : 41
Value counts of Hair dryer amenity : 5697
Value counts of Conditioner amenity : 997
Value counts of Drying rack for clothing amenity : 855
Value counts of Babysitter recommendations amenity : 271
Value counts of Laundromat nearby amenity : 608
Value counts of Fire pit amenity : 140
Value counts of Bathtub amenity : 1285
Value counts of Oven amenity : 3640
Value counts of Private entrance amenity : 2912
Value counts of Lockbox amenity : 2187
Value counts of Beach essentials amenity : 570
Value counts of Dedicated workspace: monitor, desk, table, and office chair amenity : 1
Value counts of Bread maker amenity : 81
Value counts of Ceiling fan amenity : 540
Value counts of Microwave amenity : 4622
Value counts of Iron amenity : 6002
Value counts of Free washer \u2013 In building amenity : 69
Value counts of 68\ HDTV with Amazon Prime Video, Apple TV, Netflix, standard cable amenity : 0
Value counts of Refrigerator amenity : 4655
Value counts of Outdoor shower amenity : 135
Value counts of Board games amenity : 294
Value counts of Fire extinguisher amenity : 2999
Value counts of Hot water kettle amenity : 1373
Value counts of Piano amenity : 66
Value counts of Samsung Bar Bluetooth sound system amenity : 1
Value counts of Children\u2019s dinnerware amenity : 461
Value counts of Stove amenity : 3844
Value counts of Portable fans amenity : 683
Value counts of Ethernet connection amenity : 707
Value counts of Bed linens amenity : 4120
Value counts of Game console amenity : 146
Value counts of Cable TV amenity : 1128
Value counts of Hangers amenity : 6046
Value counts of Pack \u2019n play/Travel crib amenity : 694
Value counts of BBQ grill amenity : 1510
Value counts of Body soap amenity : 1093
Value counts of First aid kit amenity : 2656
Value counts of Smoke alarm amenity : 6553
Value counts of Room-darkening shades amenity : 1232
Value counts of Luggage dropoff allowed amenity : 2000
Value counts of Private patio or balcony amenity : 1085
Value counts of Essentials amenity : 6542
Value counts of Cooking basics amenity : 4575
Value counts of Barbecue utensils amenity : 665
Value counts of Baking sheet amenity : 565
Value counts of Outdoor furniture amenity : 1062
Value counts of Outdoor dining area amenity : 751
Value counts of Private outdoor saltwater pool amenity : 5
Value counts of Wifi amenity : 6592
Value counts of Free street parking amenity : 3396
Value counts of Dishwasher amenity : 2993
Value counts of Freezer amenity : 1187
Value counts of Nespresso machine amenity : 370
Value counts of Dishes and silverware amenity : 4989
Value counts of Wine glasses amenity : 1212
Value counts of Cleaning products amenity : 1118
Value counts of Free parking on premises amenity : 3138
Value counts of Shampoo amenity : 5285
Value counts of Shower gel amenity : 1755
Value counts of Children\u2019s books and toys amenity : 766
Value counts of Kitchen amenity : 6312
Value counts of Baby safety gates amenity : 196
Value counts of High chair amenity : 868
Value counts of Rice maker amenity : 339
Value counts of Trash compactor amenity : 35
Value counts of Mosquito net amenity : 84

In general, the top 4 amenity to be recorded are: 'Long term stays allowed', 'Wifi', 'Essentials', 'Smoke alarm'

In [152]:
#for Long term stays allowed amenity 
def longterm_amenity(row):
    for i in range(len(row)):
        if 'Long term stays allowed' in row['amenities']:
            return 1 
        else: 
            return 0

#for Wifi amenity 
def wifi_amenity(row):
    for i in range(len(row)):
        if 'Wifi' in row['amenities']:
            return 1 
        else: 
            return 0

#for Essentials amenity 
def essentials_amenity(row):
    for i in range(len(row)):
        if 'Essentials' in row['amenities']:
            return 1 
        else: 
            return 0

#for Smoke alarm amenity 
def smokealarm_amenity(row):
    for i in range(len(row)):
        if 'Smoke alarm' in row['amenities']:
            return 1 
        else: 
            return 0

In [153]:
#apply to the test set
df_train['Long term stays allowed'] = df_train.apply(longterm_amenity, axis=1)
df_train['Wifi'] = df_train.apply(wifi_amenity, axis=1)
df_train['Essentials'] = df_train.apply(essentials_amenity, axis=1)
df_train['Smoke alarm'] = df_train.apply(smokealarm_amenity, axis=1)

In [154]:
#apply to the test set
df_test['Long term stays allowed'] = df_test.apply(longterm_amenity, axis=1)
df_test['Wifi'] = df_test.apply(wifi_amenity, axis=1)
df_test['Essentials'] = df_test.apply(essentials_amenity, axis=1)
df_test['Smoke alarm'] = df_test.apply(smokealarm_amenity, axis=1)

In [155]:
#drop the test column
df_train.drop(columns='amenities', inplace=True)
df_test.drop(columns='amenities', inplace=True)

`(Task 2, Question 2 Text Here - insert more cells as required)`

**Task 2, Question 3**: Impute missing values for all features in both training and test datasets.   
(2 marks)

***For training dataset:***

In [23]:
df_train.shape

(7000, 67)

In [68]:
## Task 2, Question 3 Code Here
df_train.isnull().sum()

ID                                                 0
name                                               1
description                                       65
neighborhood_overview                           1817
host_name                                          0
host_since                                         0
host_location                                      2
host_about                                      2458
host_response_time                               645
host_response_rate                               645
host_acceptance_rate                             745
host_is_superhost                                  0
host_neighbourhood                              2912
host_listings_count                                0
host_has_profile_pic                               0
host_identity_verified                             0
neighbourhood                                   1816
neighbourhood_cleansed                           108
latitude                                           0
longitude                                          0
property_type                                     84
room_type                                        134
accommodates                                       0
bathrooms                                          6
bedrooms                                         660
beds                                             240
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                            45
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                            45
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
has_availability                                   0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                  47
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                     114
last_review                                      114
review_scores_rating                             114
review_scores_accuracy                           210
review_scores_cleanliness                        208
review_scores_checkin                            209
review_scores_communication                      208
review_scores_location                           210
review_scores_value                              211
license                                         1868
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                114
price                                              0
email                                              0
phone                                              0
reviews                                            0
jumio                                              0
Long term stays allowed                            0
Wifi                                               0
Essentials                                         0
Smoke alarm                                        0
dtype: int64

As different variables have specific characteristics including range, type, etc; different values should be utilized to impute missing values for all columns. Generally, while we can fill all misisng text variables with **'unknown'** value, numerical variables' missing values can be imputed with their **mode** or **mean** based on their characteristics. 

First, we start the imputing process with text columns:

In [156]:
textcol = ['name', 'description', 'neighborhood_overview', 'host_about', 'neighbourhood_cleansed', 'license']

In [157]:
df_train[textcol] = df_train[textcol].fillna(value='unknonwn')

We then continue to deal with numerical features which are divided into 2 categories. Specifically, specific features can be imputed with their most frequent values (mode) while the remaining features are filled with their average values (mean) instead.

In [158]:
modefillcol = ['host_location','host_response_time', 'property_type', 'room_type','bathrooms']

In [159]:
modes = df_train[modefillcol].mode()
df_train[modefillcol] = df_train[modefillcol].fillna(value=modes.iloc[0])

In [160]:
meanfillcol = ['host_response_rate','host_acceptance_rate','bedrooms','beds','minimum_minimum_nights','maximum_maximum_nights','availability_365','review_scores_rating','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','reviews_per_month']

In [161]:
means = df_train[meanfillcol].mean()
df_train[meanfillcol] = df_train[meanfillcol].fillna(value=means.iloc[0])

However, by investigating thoroughout the dataset, we recognize that various numberical features should be in the form of integers instead of floatin point numbers. Therefore, they will be converted to the correct form for analysis purposes.

In [162]:
df_train[['bedrooms','beds','availability_365','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm']] = df_train[['bedrooms','beds','availability_365','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm']].astype(int)

***For test dataset:***

In [32]:
df_test.shape

(3000, 66)

In [33]:
df_test.isnull().sum()

ID                                                 0
name                                               1
description                                       89
neighborhood_overview                           1240
host_name                                          0
host_since                                         0
host_location                                      2
host_about                                      1432
host_response_time                              2534
host_response_rate                              2534
host_acceptance_rate                            2285
host_is_superhost                                  0
host_neighbourhood                              1263
host_listings_count                                0
host_has_profile_pic                               0
host_identity_verified                             0
neighbourhood                                   1240
neighbourhood_cleansed                            42
latitude                                           0
longitude                                          0
property_type                                     39
room_type                                         41
accommodates                                       0
bathrooms                                          4
bedrooms                                         178
beds                                             129
minimum_nights                                     0
maximum_nights                                     0
minimum_minimum_nights                            10
maximum_minimum_nights                             0
minimum_maximum_nights                             0
maximum_maximum_nights                            10
minimum_nights_avg_ntm                             0
maximum_nights_avg_ntm                             0
has_availability                                   0
availability_30                                    0
availability_60                                    0
availability_90                                    0
availability_365                                  20
number_of_reviews                                  0
number_of_reviews_ltm                              0
number_of_reviews_l30d                             0
first_review                                     466
last_review                                      466
review_scores_rating                             466
review_scores_accuracy                           641
review_scores_cleanliness                        637
review_scores_checkin                            643
review_scores_communication                      636
review_scores_location                           642
review_scores_value                              643
license                                         2393
instant_bookable                                   0
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                                466
email                                              0
phone                                              0
reviews                                            0
jumio                                              0
Long term stays allowed                            0
Wifi                                               0
Essentials                                         0
Smoke alarm                                        0
dtype: int64

We repeat the same process as for the training dataset so that misisng values of the test set can be appropriately imputed.

`(Task 2, Question 3 Text Here - insert more cells as required)`

In [163]:
df_test[textcol] = df_test[textcol].fillna(value='unknonwn')

In [164]:
test_modes = df_test[modefillcol].mode()
df_test[modefillcol] = df_test[modefillcol].fillna(value=test_modes.iloc[0])

In [165]:
test_means = df_test[meanfillcol].mean()
df_test[meanfillcol] = df_test[meanfillcol].fillna(value=test_means.iloc[0])

In [166]:
df_test[['bedrooms','beds','availability_365','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm']] = df_test[['bedrooms','beds','availability_365','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm']].astype(int)

**Task 2, Question 4**: Encode all categorical variables appropriately as discussed in class. 


Where a categorical feature contains more than 5 unique values, map the features into 5 most frequent values + 'other' and then encode appropriately. For instance, you could group then map `property_type` into 5 basic types + 'other': [entire rental unit, private room, entire room, entire towehouse, shared room, other] and then encode.  
(2 marks)

In [167]:
## Task 2, Question 4 Code Here
df_train['property_type'].value_counts()

Entire rental unit                     3066
Entire residential home                1164
Private room in residential home        680
Private room in rental unit             433
Entire guest suite                      262
Entire guesthouse                       217
Entire townhouse                        150
Room in boutique hotel                  123
Entire condominium (condo)              107
Entire serviced apartment                89
Private room in townhouse                84
Entire cottage                           62
Room in hotel                            59
Entire loft                              47
Private room in guest suite              39
Room in aparthotel                       38
Entire villa                             38
Private room in villa                    32
Entire bungalow                          30
Room in serviced apartment               27
Private room in guesthouse               27
Private room in condominium (condo)      22
Private room in hostel                   21
Tiny house                               20
Entire cabin                             18
Shared room in rental unit               16
Shared room in hostel                    14
Private room in bed and breakfast        13
Private room in loft                     11
Private room in bungalow                  8
Shared room in residential home           8
Boat                                      7
Entire place                              6
Private room in serviced apartment        6
Farm stay                                 6
Room in hostel                            5
Shared room in bed and breakfast          4
Private room                              4
Private room in cabin                     4
Room in bed and breakfast                 3
Private room in farm stay                 2
Entire vacation home                      2
Shared room in townhouse                  2
Private room in chalet                    2
Shared room in condominium (condo)        2
Island                                    2
Dome house                                1
Houseboat                                 1
Shared room in villa                      1
Campsite                                  1
Private room in island                    1
Private room in tiny house                1
Train                                     1
Barn                                      1
Bus                                       1
Treehouse                                 1
Cave                                      1
Earth house                               1
Shared room in earth house                1
Private room in yurt                      1
Shared room in guest suite                1
Camper/RV                                 1
Casa particular                           1
Shared room in serviced apartment         1
Name: property_type, dtype: int64

In [168]:
df_test['property_type'].value_counts()

Entire rental unit                     1222
Private room in rental unit             519
Entire residential home                 431
Private room in residential home        359
Private room in townhouse                62
Entire townhouse                         54
Entire guest suite                       43
Entire condominium (condo)               43
Shared room in rental unit               31
Entire guesthouse                        28
Private room in condominium (condo)      26
Shared room in residential home          17
Room in boutique hotel                   15
Entire villa                             15
Entire serviced apartment                14
Private room in villa                    11
Room in hotel                            10
Entire loft                               9
Shared room in hostel                     8
Private room in guest suite               8
Entire cottage                            8
Private room in bungalow                  6
Entire bungalow                           6
Shared room in condominium (condo)        5
Private room in guesthouse                4
Camper/RV                                 4
Private room in loft                      4
Room in serviced apartment                3
Private room in serviced apartment        3
Tiny house                                3
Entire place                              3
Private room in hostel                    3
Private room in casa particular           2
Entire home/apt                           2
Shared room in guesthouse                 2
Island                                    1
Private room in tipi                      1
Private room in tiny house                1
Private room in tent                      1
Private room in bed and breakfast         1
Shared room in boutique hotel             1
Holiday park                              1
Boat                                      1
Farm stay                                 1
Private room                              1
Entire chalet                             1
Entire cabin                              1
Private room in cottage                   1
Room in aparthotel                        1
Private room in pension                   1
Room in hostel                            1
Entire vacation home                      1
Name: property_type, dtype: int64

Investigating the identified values of 'property_type' of both datasets, it is evident to group values which are relevant to 'Private room', 'Shared room' and 'Entire room'. However, as it is difficult to idenify which values can be grouped together for 'Entire townhouse' or 'Entire rental unit', we need to specify lists of possible values.

In [169]:
e_townhouse = ['Entire villa', 'Entire residential home','Entire guest suite','Entire guesthouse','Entire bungalow','Tiny house','Entire place','Entire vacation home','Dome house','Earth house','Casa particular']
e_rentalunit = ['Entire serviced apartment', 'Entire loft', 'Entire rental unit', 'Entire condominium (condo)', 'Entire cottage']

In [170]:
#apply to the training set
for i in range(len(df_train)):
    if 'Private room' in df_train['property_type'].loc[i]:
        df_train['property_type'].loc[i]= 'Private room'
    if 'Shared room' in df_train['property_type'].loc[i]:
        df_train['property_type'].loc[i]= 'Shared room'
    if 'Room in' in df_train['property_type'].loc[i]:
        df_train['property_type'].loc[i]= 'Entire room'
    if df_train['property_type'].loc[i] in e_townhouse:
        df_train['property_type'].loc[i]= 'Entire townhouse'
    if df_train['property_type'].loc[i] in e_rentalunit:
        df_train['property_type'].loc[i]= 'Entire rental unit'

In [171]:
#apply to the test set
for i in range(len(df_test)):
    if 'Private room' in df_test['property_type'].loc[i]:
        df_test['property_type'].loc[i]= 'Private room'
    if 'Shared room' in df_test['property_type'].loc[i]:
        df_test['property_type'].loc[i]= 'Shared room'
    if 'Room in' in df_test['property_type'].loc[i]:
        df_test['property_type'].loc[i]= 'Entire room'
    if df_test['property_type'].loc[i] in e_townhouse:
        df_test['property_type'].loc[i]= 'Entire townhouse'
    if df_test['property_type'].loc[i] in e_rentalunit:
        df_test['property_type'].loc[i]= 'Entire rental unit'

Now that 5 basic types of Airbnb property have been identified, the remaining values can be assigned as 'Other'.

In [172]:
for i in range(len(df_train)):
    if df_train['property_type'].loc[i] not in ['Private room', 'Shared room','Entire room', 'Entire townhouse','Entire rental unit']:
        df_train['property_type'].loc[i] = 'Other'

In [173]:
for i in range(len(df_test)):
    if df_test['property_type'].loc[i] not in ['Private room', 'Shared room','Entire room', 'Entire townhouse','Entire rental unit']:
        df_test['property_type'].loc[i] = 'Other'

In [174]:
df_train['property_type'].value_counts()

Entire rental unit    3371
Entire townhouse      1892
Private room          1391
Entire room            255
Shared room             50
Other                   41
Name: property_type, dtype: int64

In [175]:
df_test['property_type'].value_counts()

Entire rental unit    1296
Private room          1014
Entire townhouse       584
Shared room             64
Entire room             30
Other                   12
Name: property_type, dtype: int64

In [176]:
df_train['price'].groupby(df_train['property_type']).mean()

property_type
Entire rental unit    240.258974
Entire room           229.866667
Entire townhouse      473.339852
Other                 482.634146
Private room           80.474479
Shared room            47.100000
Name: price, dtype: float64

First, we divide all identified values of **'property_type'** into 5 main groups that are 'entire rental unit', 'private room', 'entire room', 'entire townhouse', 'shared room' and the remaining types as 'other' and replace them in the dataset.

In [177]:
#map integer value
property_mapping = {'Other':6, 'Entire townhouse':5, 'Entire rental unit':4, 'Entire room':3, 'Private room':2, 'Shared room':1}
df_train['map_property_type'] = df_train['property_type'].map(property_mapping)

In [178]:
#drop the original column after mapping 
df_train.drop(columns=['property_type'],inplace=True)

In [179]:
df_train['bathrooms'].value_counts()

1 bath               3614
2 baths              1065
1 shared bath         601
1 private bath        459
1.5 baths             326
3 baths               223
2.5 baths             222
1.5 shared baths      117
2 shared baths        113
3.5 baths              65
4 baths                58
3 shared baths         32
2.5 shared baths       19
0 shared baths         12
5 baths                11
4.5 baths              10
0 baths                10
3.5 shared baths        8
Shared half-bath        8
6 shared baths          5
Half-bath               5
4 shared baths          3
4.5 shared baths        3
7 shared baths          2
6 baths                 2
5.5 shared baths        2
5.5 baths               2
Private half-bath       1
6.5 baths               1
11 baths                1
Name: bathrooms, dtype: int64

Besides, it is identified that **'bathrooms'** feature includes more than 5 unique values which indicates a suitable encoding should also be applied. Based on the counting results of all bathroom types, we can classify them as 5 main groups: one full bath (1 bath), one full private full bath (1 private bath), one full shared bath (1 shared bath), many full baths (many baths), many full shared baths (many shared baths) and the remaining type as other.

In [180]:
#apply to the training set
for i in range(len(df_train)):
    if 'private bath' in df_train['bathrooms'].loc[i]:
        df_train['bathrooms'].loc[i]= '1 private bath'
    if 'shared bath' in df_train['bathrooms'].loc[i]:
        df_train['bathrooms'].loc[i]= '1 shared bath'
    if 'bath' in df_train['bathrooms'].loc[i]:
        df_train['bathrooms'].loc[i]= '1 bath'
    if 'baths' in df_train['bathrooms'].loc[i]:
        df_train['bathrooms'].loc[i]= 'Many baths'
    if 'shared baths' in df_train['bathrooms'].loc[i]:
        df_train['bathrooms'].loc[i]= 'Many shared baths'

In [181]:
#apply to the test set
for i in range(len(df_test)):
    if 'bath' in df_test['bathrooms'].loc[i]:
        df_test['bathrooms'].loc[i]= '1 bath'
    if 'private bath' in df_test['bathrooms'].loc[i]:
        df_test['bathrooms'].loc[i]= '1 private bath'
    if 'shared bath' in df_test['bathrooms'].loc[i]:
        df_test['bathrooms'].loc[i]= '1 shared bath'
    if 'baths' in df_test['bathrooms'].loc[i]:
        df_test['bathrooms'].loc[i]= 'Many baths'
    if 'shared baths' in df_test['bathrooms'].loc[i]:
        df_test['bathrooms'].loc[i]= 'Many shared baths'

In [133]:
for i in range(len(df_train)):
    if df_train['bathrooms'].loc[i] not in ['1 bath','1 private bath','1 shared bath','Many baths','Many shared baths']:
        df_train['bathrooms'].loc[i] = 'Other'

In [182]:
for i in range(len(df_test)):
    if df_test['bathrooms'].loc[i] not in ['1 bath','1 private bath','1 shared bath','Many baths','Many shared baths']:
        df_test['bathrooms'].loc[i] = 'Other'

In [183]:
df_train['bathrooms'].value_counts()

1 bath    7000
Name: bathrooms, dtype: int64

In [184]:
df_test['bathrooms'].value_counts()

1 bath    3000
Name: bathrooms, dtype: int64

In [43]:
#map integer value
bathrooms_mapping = {'Other':6, 'Many shared baths':5, 'Many baths':4, '1 shared bath':3, '1 private bath':2, '1 bath':1}
df_train['map_bathrooms'] = df_train['bathrooms'].map(bathrooms_mapping)

In [44]:
#drop the original column after mapping 
df_train.drop(columns=['bathrooms'],inplace=True)

`(Task 2, Question 4 Text Here - insert more cells as required)`

**Task 2, Question 5**: Perform any other actions you think need to be done on the data before constructing predictive models, and clearly explain what you have done.   
(1 marks)

In [15]:
## Task 2, Question 5 Code Here

In [45]:
df_train['room_type'].value_counts()

Entire home/apt    5337
Private room       1511
Hotel room          103
Shared room          49
Name: room_type, dtype: int64

Even though **'room_type'** only has 4 unique values, this feature should also be in an appropriate ordering of the labels by applying the same mapping integer values process.

In [46]:
#map integer value
room_mapping = {'Shared room':4, 'Hotel room':3, 'Private room':2, 'Entire home/apt':1}
df_train['room_maptype'] = df_train['room_type'].map(room_mapping)

In [47]:
#drop the original column after mapping 
df_train.drop(columns=['room_type'],inplace=True)

Realizing that all three variables **'host_neibourhood'**, **'neighbourhood'** and **'neighbourhood_cleansed'** relate to the location of each Airbnb, we will only use **'neighbourhood_cleansed'** for the analysis process due to its lowest number of missing values. Additionally, as **'first_review'** and **'last_review'** will not heavily contribute to predict the price, they are also removed.

In [48]:
#drop host_neighbourhood, neighbourhood, firt review, last review
df_train.drop(columns = ['host_neighbourhood','neighbourhood','first_review','last_review'],inplace=True)

Moreover, we need to apply one-hot encoding on the remaining nominal features by creating new dummy variables for each unique value.

In [49]:
df_train['has_availability'].value_counts()

t    6986
f      14
Name: has_availability, dtype: int64

In [50]:
df_train['host_is_superhost'].value_counts()

f    4901
t    2099
Name: host_is_superhost, dtype: int64

In [51]:
df_train['host_has_profile_pic'].value_counts()

t    6981
f      19
Name: host_has_profile_pic, dtype: int64

In [52]:
df_train['host_identity_verified'].value_counts()

t    6320
f     680
Name: host_identity_verified, dtype: int64

In [53]:
df_train['instant_bookable'].value_counts()

f    4575
t    2425
Name: instant_bookable, dtype: int64

In [54]:
#apply dummy variables
dummy_availability = pd.get_dummies(df_train[['has_availability']])
df_train = df_train.join(dummy_availability)
dummy_superhost = pd.get_dummies(df_train[['host_is_superhost']])
df_train = df_train.join(dummy_superhost)
dummy_host_profilepic = pd.get_dummies(df_train[['host_has_profile_pic']])
df_train = df_train.join(dummy_host_profilepic)
dummy_host_identity = pd.get_dummies(df_train[['host_identity_verified']])
df_train = df_train.join(dummy_host_identity)
dummy_bookable = pd.get_dummies(df_train[['instant_bookable']])
df_train = df_train.join(dummy_bookable)

In [55]:
df_train.drop(columns=['has_availability','host_is_superhost','host_has_profile_pic','host_identity_verified','instant_bookable'],inplace=True)

Lastly, since regression models only perform on numerical data, string-based features should also be handle properly.

In [56]:
df_train.head(1)

,ID,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_listings_count,neighbourhood_cleansed,latitude,longitude,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price,email,phone,reviews,jumio,Long term stays allowed,Wifi,Essentials,Smoke alarm,map_property_type,map_bathrooms,room_maptype,has_availability_f,has_availability_t,host_is_superhost_f,host_is_superhost_t,host_has_profile_pic_f,host_has_profile_pic_t,host_identity_verified_f,host_identity_verified_t,instant_bookable_f,instant_bookable_t
0,0,Manly Harbour House,"Beautifully renovated, spacious and quiet, our...",Balgowlah Heights is one of the most prestigio...,Heidi,2009-11-20,"Sydney, New South Wales, Australia",I am a Canadian who has made Australia her hom...,within a few hours,100.0,69.0,2.0,Manly,-33.80084,151.26378,6,3,3,2,22,2,2,22,22,2,22,0,14,14,174,3,1,0,4.67,4.33,4.33,4.67,4.33,4.67,4.33,Exempt,2,2,0,0,0.04,470.0,1,1,1,1,0,1,1,1,1.0,4,1,0,1,0,1,0,1,0,1,1,0

In [58]:
df_train['host_location'].value_counts()

Sydney, New South Wales, Australia                          2113
AU                                                           728
New South Wales, Australia                                   495
Tamarama, New South Wales, Australia                         137
Manly, New South Wales, Australia                            121
Bondi Beach, New South Wales, Australia                      119
Padstow, New South Wales, Australia                          113
Australia                                                     99
Broken Hill West, New South Wales, Australia                  71
Greens Beach, Tasmania, Australia                             69
Avalon Beach, New South Wales, Australia                      64
Freshwater, New South Wales, Australia                        62
Coogee, New South Wales, Australia                            62
Potts Point, New South Wales, Australia                       54
Surry Hills, New South Wales, Australia                       52
Palm Beach, New South Wales, Australia                        51
Darlinghurst, New South Wales, Australia                      45
Melbourne, Victoria, Australia                                43
Clareville, New South Wales, Australia                        42
Mosman, New South Wales, Australia                            37
Balgowlah, New South Wales, Australia                         37
Randwick, New South Wales, Australia                          33
St Pauls, New South Wales, Australia                          31
Seaforth, New South Wales, Australia                          30
Newtown, New South Wales, Australia                           30
Dee Why, New South Wales, Australia                           28
Chatswood, New South Wales, Australia                         28
Newport, New South Wales, Australia                           26
Ryde, New South Wales, Australia                              26
Paddington, New South Wales, Australia                        25
Wolli Creek, New South Wales, Australia                       23
Bondi, New South Wales, Australia                             23
Lilyfield, New South Wales, Australia                         22
Chippendale, New South Wales, Australia                       21
Banksia, New South Wales, Australia                           21
Marrickville, New South Wales, Australia                      20
Woollahra, New South Wales, Australia                         20
Fairlight, New South Wales, Australia                         19
Port Melbourne, Victoria, Australia                           19
Greenhills Beach, New South Wales, Australia                  19
Rose Bay, New South Wales, Australia                          19
Pagewood, New South Wales, Australia                          17
Bondi Junction, New South Wales, Australia                    17
Saint Ives Chase, New South Wales, Australia                  17
London, England, United Kingdom                               17
Rozelle, New South Wales, Australia                           16
Ultimo, New South Wales, Australia                            16
Strathfield, New South Wales, Australia                       16
Collaroy, New South Wales, Australia                          16
Hurstville Grove, New South Wales, Australia                  16
Bronte, New South Wales, Australia                            16
Parramatta, New South Wales, Australia                        16
Bella Vista, New South Wales, Australia                       15
Mona Vale, New South Wales, Australia                         15
Bundall, Queensland, Australia                                15
Balmain East, New South Wales, Australia                      14
Maroubra, New South Wales, Australia                          14
Leichhardt, New South Wales, Australia                        14
Cronulla, New South Wales, Australia                          14
Ingleside, New South Wales, Australia                         13
Balmain, New South Wales, Australia                           13
Vaucluse, New South Wales, Australia                          13
Redfern, New South Wales, Australia                           13
Sylvania Waters, New South Wales, Australia                   13
Stanmore, New South Wales, Australia                          13
Yagoona, New South Wales, Australia                           12
Penrith, New South Wales, Australia                           12
Narrabeen, New South Wales, Australia                         12
Lane Cove DC, New South Wales, Australia                      12
Woolloomooloo, New South Wales, Australia                     12
Bundeena, New South Wales, Australia                          12
Waverley, New South Wales, Australia                          12
St Leonards, New South Wales, Australia                       12
Glebe, New South Wales, Australia                             12
Rockdale, New South Wales, Australia                          12
Castle Hill, New South Wales, Australia                       11
Concord West DC, New South Wales, Australia                   11
Drummoyne, New South Wales, Australia                         11
Pemulwuy, New South Wales, Australia                          11
Putney, New South Wales, Australia                            11
Alexandria, New South Wales, Australia                        10
Brookvale, New South Wales, Australia                         10
Hornsby, New South Wales, Australia                           10
Hillsdale, New South Wales, Australia                         10
Annandale, New South Wales, Australia                         10
Frenchs Forest, New South Wales, Australia                    10
Brisbane, Queensland, Australia                               10
The Entrance North, New South Wales, Australia                10
Sydney Olympic Park, New South Wales, Australia               10
Cammeray, New South Wales, Australia                           9
Pyrmont, New South Wales, Australia                            9
North Bondi, New South Wales, Australia                        9
Eastwood, New South Wales, Australia                           9
Epping, New South Wales, Australia                             9
North Curl Curl, New South Wales, Australia                    9
Erskineville, New South Wales, Australia                       9
Dulwich Hill, New South Wales, Australia                       9
Bellevue Hill, New South Wales, Australia                      8
Haymarket, New South Wales, Australia                          8
Rushcutters Bay, New South Wales, Australia                    8
Hurstville, New South Wales, Australia                         8
Himas Platypus, New South Wales, Australia                     8
Ashfield, New South Wales, Australia                           8
North Willoughby, New South Wales, Australia                   8
Schofields, New South Wales, Australia                         8
Moore Park, New South Wales, Australia                         8
SG                                                             8
Bilgola Plateau, New South Wales, Australia                    8
Kingsgrove, New South Wales, Australia                         8
Pymble, New South Wales, Australia                             7
Waterloo, New South Wales, Australia                           7
Neutral Bay, New South Wales, Australia                        7
Mascot, New South Wales, Australia                             7
Carlingford, New South Wales, Australia                        7
Punchbowl, New South Wales, Australia                          7
Blacktown, New South Wales, Australia                          7
Kensington, New South Wales, Australia                         7
Rosehill, New South Wales, Australia                           7
Avalon, New South Wales, Australia                             7
Bali, Indonesia                                                7
Lidcombe, New South Wales, Australia                           7
Matraville, New South Wales, Australia                         7
East Killara, New South Wales, Australia                       7
Shenzhen, Guangdong, China                                     6
Brooklyn, New South Wales, Australia                           6
Gymea, New South Wales, Australia                              6
Bayview, New South Wales, Australia                            6
Rhodes, New South Wales, Australia                             6
Victoria, Australia                                            6
Botany, New South Wales, Australia                             6
Bexley, New South Wales, Australia                             6
Cabramatta West, New South Wales, Australia                    6
Carlton, New South Wales, Australia                            6
Camperdown, New South Wales, Australia                         6
Auburn, New South Wales, Australia                             6
Dangar Island, New South Wales, Australia                      6
Killarney Heights, New South Wales, Australia                  6
North Turramurra, New South Wales, Australia                   6
Clovelly, New South Wales, Australia                           6
St Peters, New South Wales, Australia                          6
Taren Point, New South Wales, Australia                        5
North Wahroonga, New South Wales, Australia                    5
Como, New South Wales, Australia                               5
Gordon, New South Wales, Australia                             5
The Oaks, New South Wales, Australia                           5
Beecroft, New South Wales, Australia                           5
Bankstown, New South Wales, Australia                          5
Saint Clair, New South Wales, Australia                        5
Kurnell, New South Wales, Australia                            5
Croydon, New South Wales, Australia                            5
Brighton-Le-Sands, New South Wales, Australia                  5
Millers Point, New South Wales, Australia                      5
North Narrabeen, New South Wales, Australia                    5
Allambie Heights, New South Wales, Australia                   5
Cheltenham, New South Wales, Australia                         5
Cherrybrook, New South Wales, Australia                        5
Manly Vale, New South Wales, Australia                         5
Perth, Western Australia, Australia                            5
Kingsford, New South Wales, Australia                          5
Warriewood, New South Wales, Australia                         5
Hong Kong                                                      5
Cremorne Point, New South Wales, Australia                     5
North Rocks, New South Wales, Australia                        5
Whale Beach, New South Wales, Australia                        5
Mount Pritchard, New South Wales, Australia                    5
Berlin, Berlin, Germany                                        5
Morning Bay, New South Wales, Australia                        4
Kenthurst, New South Wales, Australia                          4
Curl Curl, New South Wales, Australia                          4
Canoelands, New South Wales, Australia                         4
Galston, New South Wales, Australia                            4
Cremorne, New South Wales, Australia                           4
Elizabeth Bay, New South Wales, Australia                      4
Clemton Park, New South Wales, Australia                       4
Woolwich, New South Wales, Australia                           4
CX                                                             4
Point Piper, New South Wales, Australia                        4
GB                                                             4
Balaclava, Victoria, Australia                                 4
Woodcroft, New South Wales, Australia                          4
Kingswood, New South Wales, Australia                          4
Bilgola Beach, New South Wales, Australia                      4
Greenwich, New South Wales, Australia                          4
Campbelltown North, New South Wales, Australia                 4
China                                                          4
The Rocks, New South Wales, Australia                          4
IN                                                             4
Greater London, England, United Kingdom                        4
Pittwater, New South Wales, Australia                          4
New York, New York, United States                              4
Telopea, New South Wales, Australia                            4
Old Guildford, New South Wales, Australia                      4
Milsons Passage, New South Wales, Australia                    4
Double Bay, New South Wales, Australia                         4
Rosebery, New South Wales, Australia                           4
Warringah Mall, New South Wales, Australia                     4
Canterbury, New South Wales, Australia                         4
Wheeler Heights, New South Wales, Australia                    4
Western Australia, Australia                                   4
Newington, New South Wales, Australia                          4
Macquarie Park, New South Wales, Australia                     4
Wollstonecraft, New South Wales, Australia                     4
Bexley South, New South Wales, Australia                       4
Denham Court, New South Wales, Australia                       3
Jordan Springs, New South Wales, Australia                     3
Caringbah, New South Wales, Australia                          3
Royal National Park, New South Wales, Australia                3
Wentworthville, New South Wales, Australia                     3
Revesby, New South Wales, Australia                            3
West Melbourne, Victoria, Australia                            3
Molesey, England, United Kingdom                               3
Queensland, Australia                                          3
Campsie, New South Wales, Australia                            3
Paris, Île-de-France, France                                   3
Homebush West, New South Wales, Australia                      3
Red Rock, New South Wales, Australia                           3
Nottingham, England, United Kingdom                            3
Christmas Island                                               3
Newstead, Queensland, Australia                                3
Singapore                                                      3
Busby, New South Wales, Australia                              3
Watsonia North, Victoria, Australia                            3
Scotland Island, New South Wales, Australia                    3
Adelaide, South Australia, Australia                           3
Edgecliff, New South Wales, Australia                          3
Mount Annan, New South Wales, Australia                        3
Cromer, New South Wales, Australia                             3
Peakhurst, New South Wales, Australia                          3
Oyster Bay, New South Wales, Australia                         3
Darling Point, New South Wales, Australia                      3
Fairfield, New South Wales, Australia                          3
Liverpool, New South Wales, Australia                          3
Sylvania, New South Wales, Australia                           3
Berowra Waters, New South Wales, Australia                     3
Lane Cove, New South Wales, Australia                          3
Luddenham, New South Wales, Australia                          3
Breakfast Point, New South Wales, Australia                    3
West Pennant Hills, New South Wales, Australia                 3
Baulkham Hills, New South Wales, Australia                     3
Randwick DC, New South Wales, Australia                        3
Chifley, New South Wales, Australia                            3
Willoughby, New South Wales, Australia                         3
Newcastle, New South Wales, Australia                          3
Enmore/Stanmore, New South Wales, Australia                    3
Warriewood DC, New South Wales, Australia                      3
McMahons Point, New South Wales, Australia                     3
Rivervale, Western Australia, Australia                        3
Austral, New South Wales, Australia                            3
Forestville, New South Wales, Australia                        3
Kirribilli, New South Wales, Australia                         3
Waverton, New South Wales, Australia                           3
Hawkesbury River                                               3
Canberra, Australian Capital Territory, Australia              3
Sydney, Australia                                              3
Hilo, Hawaii, United States                                    3
Saint Ives, New South Wales, Australia                         3
Northwood, New South Wales, Australia                          2
Lower Portland, New South Wales, Australia                     2
Belmore, New South Wales, Australia                            2
Lindfield, New South Wales, Australia                          2
Camden, New South Wales, Australia                             2
Coolangatta, Queensland, Australia                             2
Gregory Hills, New South Wales, Australia                      2
Quakers Hill, New South Wales, Australia                       2
Daceyville, New South Wales, Australia                         2
Watsons Bay, New South Wales, Australia                        2
Canada Bay, New South Wales, Australia                         2
Beacon Hill, New South Wales, Australia                        2
Homebush, New South Wales, Australia                           2
Campbelltown, New South Wales, Australia                       2
Marina del Rey, California, United States                      2
Stanwell Park, New South Wales, Australia                      2
North Parramatta, New South Wales, Australia                   2
Auckland, Auckland, New Zealand                                2
• Katoomba DC, New South Wales, Australia                      2
Orange, New South Wales, Australia                             2
Glenorie, New South Wales, Australia                           2
Northbridge, New South Wales, Australia                        2
Abbotsford, British Columbia, Canada                           2
Roseville, New South Wales, Australia                          2
Garran, Australian Capital Territory, Australia                2
Petersham, New South Wales, Australia                          2
Loftus, New South Wales, Australia                             2
London                                                         2
Central Coast, New South Wales, Australia                      2
Leonay, New South Wales, Australia                             2
Aspen, Colorado, United States                                 2
Dover Heights, New South Wales, Australia                      2
Surfers Paradise, Queensland, Australia                        2
Macquarie Links, New South Wales, Australia                    2
Netherlands                                                    2
Emu Plains, New South Wales, Australia                         2
Norwest, New South Wales, Australia                            2
Hawthorn, Victoria, Australia                                  2
Roselands, New South Wales, Australia                          2
Monterey, New South Wales, Australia                           2
Artarmon, New South Wales, Australia                           2
Pennant Hills, New South Wales, Australia                      2
Castlecrag, New South Wales, Australia                         2
Tennyson Point, New South Wales, Australia                     2
Dolans Bay, New South Wales, Australia                         2
Rouse Hill, New South Wales, Australia                         2
East Ryde, New South Wales, Australia                          2
Glendenning, New South Wales, Australia                        2
Zürich, Zurich, Switzerland                                    2
Eastlakes, New South Wales, Australia                          2
Belrose, New South Wales, Australia                            2

In [ ]:
df_train['host_location'] = df_train['host_location'].replace('AU','Australia')

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack

# For beginning, transform train['FullDescription'] to lowercase using text.lower()
df_train['name','description','neighborhood_overview','host_location','host_about'].str.lower()

# Then replace everything except the letters and numbers in the spaces.
# it will facilitate the further division of the text into words.
df_train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

# Convert a collection of raw documents to a matrix of TF-IDF features with TfidfVectorizer
vectorizer = TfidfVectorizer(min_df=5)
X_tfidf = vectorizer.fit_transform(df_train['FullDescription'])

`(Task 2, Question 5 Text Here - insert more cells as required)`

**Task 2, Question 6**: Perform exploratory data analysis to measure the relationship between the features and the target and write up your findings. 
(2 marks)

In [16]:
## Task 2, Question 6 Code Here
import seaborn as sns

corrmat = df.corr()
# print(corrmat.round(3).to_string())
# corrmat

f, ax = plt.subplots(figsize=(20, 10))
sns.heatmap(corrmat, annot=True, vmax=.8, square=True)
plt.show()

`(Task 2, Question 6 Text Here - insert more cells as required)`

--- 
## Task 3: Fit and tune a forecasting model/Submit predictions/Report score and ranking

Make sure you **clearly explain each step** you do, both in text and on the recoded video.

1. Build a machine learning (ML) regression model taking into account the outcomes of Tasks 1 & 2
2. Fit the model and tune hyperparameters via cross-validation: make sure you comment and explain each step clearly
3. Create predictions using the test dataset and submit your predictions on Kaggle's competition page
4. Provide Kaggle ranking and **score** (screenshot your best submission) and comment
5. Make sure your Python code works, so that a marker that can replicate your all of your results and obtain the same MSE from Kaggle

- Hint: to perform well you will need to iterate Task 3, building and tuning various models in order to find the best one.

Total Marks: 11

In [57]:
df_train.shape

(7000, 68)

In [63]:
df_train.head(2)

,ID,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_listings_count,neighbourhood_cleansed,latitude,longitude,accommodates,bedrooms,beds,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price,email,phone,reviews,jumio,Long term stays allowed,Wifi,Essentials,Smoke alarm,map_property_type,map_bathrooms,room_maptype,has_availability_f,has_availability_t,host_is_superhost_f,host_is_superhost_t,host_has_profile_pic_f,host_has_profile_pic_t,host_identity_verified_f,host_identity_verified_t,instant_bookable_f,instant_bookable_t
0,0,Manly Harbour House,"Beautifully renovated, spacious and quiet, our...",Balgowlah Heights is one of the most prestigio...,Heidi,2009-11-20,"Sydney, New South Wales, Australia",I am a Canadian who has made Australia her hom...,within a few hours,100.0,69.0,2.0,Manly,-33.80084,151.26378,6,3,3,2,22,2,2,22,22,2,22,0,14,14,174,3,1,0,4.67,4.33,4.33,4.67,4.33,4.67,4.33,Exempt,2,2,0,0,0.04,470.0,1,1,1,1,0,1,1,1,1.0,4,1,0,1,0,1,0,1,0,1,1,0
1,1,Unique Designer Rooftop Apartment in City Loca...,Penthouse living at it best ... You will be st...,The location is really central and there is nu...,Morag,2009-12-03,"Sydney, New South Wales, Australia",I am originally Scottish but I have made Sydne...,within an hour,100.0,100.0,3.0,Sydney,-33.87964,151.21680,2,1,1,2,90,2,2,90,90,2,90,5,31,61,336,383,18,6,4.42,4.58,4.40,4.77,4.67,4.70,4.47,PID-STRA-24061-7,1,0,1,0,3.21,82.0,1,1,1,1,1,1,1,1,2.0,2,2,0,1,1,0,0,1,0,1,0,1

In [59]:
#Task 3 code here
from sklearn.model_selection import train_test_split

X = df_train.loc[:, df_train.columns != 'price']
y = df_train['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [62]:
from sklearn.linear_model import LinearRegression

slr = LinearRegression()

slr.fit(X_train, y_train)

y_train_pred = slr.predict(X_train)
y_test_pred = slr.predict(X_test)

ValueError: could not convert string to float: 'Sydney Olympic Park Warm love apartment'

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.svm import SVR


acc_scores = []
for i in range(1,69):
    slr = LinearRegression()
    estimator = SVR(kernel="linear")
    rfe = RFE(estimator, n_features_to_select=i)
    #training model
    slr.fit(X_train, y_train)
    #predicting on test set 
    y_pred = rfe.predict(X_test)
    acc_score = accuracy_score(y_test, y_pred)
    #print this
    #print ("Acc on test set using", i, "feature: ", acc_score)
    #print ("Feature which have been chosen:", X_train.columns[rfe.support_])
    #print("")
    # append to the list 
    acc_scores.append(acc_score)

In [ ]:
# Plotting the accuracy number
plotting = plt.plot(range(1, X_train.shape[1]+1), acc_scores, color= "salmon")
plt.xlabel("Number of Features")
plt.ylabel("Accuracy")
plt.xticks(np.arange(1, 5 , step=1))
plt.show()

`(Task 3 - insert more cells as required)`